<header>
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-12 col-sm-6">
        <h1>{{title}} <span *ngIf="counter" class="badge badge-warning">{{counter}}</span></h1>
      </div>
      <div class="col-12 col-sm-6 text-left text-sm-right">
        <div class="btn-group mt-2 mt-sm-0" *ngIf="showNew || showEdit || showCancel || showSave">
          <button *ngIf="showNew" (click)="runAction('new')" class="btn btn-sm btn-success"><i class="fa fa-asterisk"></i> Novo</button>
          <button *ngIf="showEdit" (click)="runAction('edit')" class="btn btn-sm btn-info"><i class="fa fa-edit"></i> Editar</button>
          <button *ngIf="showCancel" (click)="runAction('cancel')" class="btn btn-sm btn-danger"><i class="fa fa-close"></i> Cancelar</button>
          <button *ngIf="showSave" (click)="runAction('save')" class="btn btn-sm btn-warning"><i class="fa fa-save"></i> Salvar</button>
        </div>
      </div>
    </div>
  </div>
</header>
