<a href="{{post.data.link}}" class="cardnews mt-3 mb-3">
  <div class="cardnews__cover">
    <div class="cardnews__cover__image lazy" data-src="{{ post.data.cover.medium }}"></div>
    <div class="cardnews__cover__blur lazy" data-src="{{ post.data.cover.medium }}"></div>
  </div>

  <h4 class="cardnews__title font-primary">
    {{post.data.title|truncate(140)}}
  </h4>
  <div class="cardnews__description">
    <p>
      {{post.data.description|striptags|truncate(140)}}
    </p>
  </div>
  <div class="cardnews__footer">
    <p><i class="fa fa-clock-o"></i> {{post.data.published_date|date('d/m/Y H:i')}}</p>
    <small><i class="fa fa-refresh"></i> {{post.data.updatedAt|date('d/m/Y H:i')}}</small>
  </div>
</a>
