{#  Category page. #}

{% extends "@main/layout/layout.twig" %}
{% set menu_active = "news" %}
{% set header_transparent = true %}

{% block content %}
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, non.
{% endblock %}
