<header class="navbar navbar-dark bg-dark" *ngIf="formConfig.title">
  <span class="navbar-brand text-truncate">Formulário: {{formConfig.title}}</span>
  <div class="d-inline-block">
    <a href="javascript:void(0);" (click)="getCSV()" class="btn btn-success ml-2">
      Baixar CSV
    </a>
  </div>
</header>


<div class="container-fluid" *ngIf="!loaded">
  <div class="row mb-5 mt-5">
    <div class="col-12">
      <div class="alert alert-info text-center" role="alert">
        <i class="fa fa-cog fa-spin fa-fw"></i>
        <span>Carregando...</span>
      </div> <!-- /.alert -->
    </div> <!-- /.col -->
  </div> <!-- /.row -->
</div>

<div class="container-fluid" *ngIf="loaded && formConfig && data">

  <div class="row mt-3 mb-3" *ngIf="data.pages">
    <div class="col-12 d-flex justify-content-between align-items-center">
      <p><strong>Pág.</strong> {{PAGE}} de {{data.pages}}</p>
      <div>
        <button class="btn btn-sm btn-primary d-inline-block" (click)="loadPosts(PAGE-1)" [disabled]="!(PAGE > 1)"><i class="fa fa-chevron-left"></i></button>
        <button class="btn btn-sm btn-primary d-inline-block ml-2" (click)="loadPosts(PAGE+1)" [disabled]="!(PAGE < data.pages)"><i class="fa fa-chevron-right"></i></button>
      </div>
    </div>
  </div>

  <div class="row mb-5 mt-5" *ngIf="!data.docs.length">
    <div class="col-12">
      <div class="alert alert-danger text-center" role="alert">
        Nenhum item encontrado.
      </div> <!-- /.alert -->
    </div> <!-- /.col -->
  </div> <!-- /.row -->


  <div class="row" *ngIf="data.docs && data.docs.length">

    <div class="col-12">
      <p>Existem <strong>{{data.total}}</strong> registros no total.</p>
    </div>


    <div class="col-12" >

      <div class="table-responsive mb-4">
        <table class="table table-bordered" *ngFor="let item of data.docs">
          <tr>
            <td style="width: 20%;" class="text-right"><strong>#id</strong></td>
            <td >{{item.id}}</td>
          </tr>

          <tr *ngFor="let n of getKeys(formConfig.inputs)">
            <td  class="text-right"><strong>{{formConfig.inputs[n].title}}</strong></td>
            <td>
              {{item.inputs[n] || "" }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
