{% extends "layout/amp.twig" %}
{% set menu_active = "news" %}

{% block content %}
<article>
  <header>
    <h1>{{data.post.data.title}}</h1>
    <p>{{data.post.data.published_date|date("d \d\e F \d\e Y \- G\hi")}}</p>
  </header>

  {% if data.post.cover %}
    <amp-img alt="{{data.post.data.title}}"
      src="{{data._SITE_URL ~ '/' ~ data.post.getCover('large')}}"
      width="16"
      height="9"
      class="contain"
      layout="responsive">
    </amp-img>
  {% endif %}

  <section class="page-news-content">
    {{data.post.data.content}}
  </section>

</article>
{% endblock %}
