{% extends "layout/main.twig" %}
{% set menu_active = "news" %}

{% block content %}

{% include "../shared/_breadcrumbs.twig" %}

<section class="detail-news">
  
  <div class="container">

    <div class="row">
      <div class="col-12 col-md-10 offset-md-1">
      <article class="article">
        <header>
          <a href="{{data.post.getCategory().getLink(false, "categoria")}}" class="cat"><em>{{data.post.getCategory().data.title}}</em></a><br>
          <h1 class="title-news">{{data.post.data.title}}</h1>
          <p>{{data.post.data.description}}</p>
          

          <p class="date"><i class="fa fa-clock-o"></i> {{data.post.getDate("LLL")}} por <strong>{{data.post.getAuthor().data.name}}</strong> | <i class="fa fa-comments"></i> <span class="fb-comments-count" data-href="{{data._CANONICAL_URL}}">--</span> comentário(s).</p>

          <div class="btn-group social-share" role="group">
            <a class="btn btn-secondary" href="javascript:void(0);" data-network="facebook"><i class="fa fa-facebook"></i></a>
            <a class="btn btn-secondary" href="javascript:void(0);" data-network="whatsapp"><i class="fa fa-whatsapp"></i></a>
            <a class="btn btn-secondary" href="javascript:void(0);" data-network="twitter"><i class="fa fa-twitter"></i></a>
            <a class="btn btn-secondary" href="javascript:void(0);" data-network="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>

          <ul class="social-share">
          </ul>

        </header>

        <hr>

        {% if data.post.cover %}
        <div class="post-cover">
          <img src="{{data.post.getCover('large')}}" class="img-fluid post-img lazy" alt='{{data.post.data.title}}'>
        </div>
        {% endif %}


        <section class="page-news-content">
          {{data.post.data.content}}
        </section>

        <hr/>

        <footer class="post-footer">
          <div class="tags">
            {% for tag in data.post.getTags() %}<a href="{{ tag.getLink() }}" class="badge badge-light"><i class="fa fa-tags"></i>  {{ tag.data.title }}</a>{% endfor %}
          </div>
          <div class="fb-comments" data-href="{{data._CANONICAL_URL}}" data-numposts="5" width="100%" height="300"></div>
        </footer><!-- /.post-footer -->

      </article>
      </div><!--/.col -->
    </div><!--/.row -->

  </div> <!-- /.container -->
</section>


<section class="related-news">

  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4 class="text-center font-primary">Relacionadas</h4>
        <span></span>
      </div>
    </div>

    <div class="row">
      
        {% for post in data.related_posts.docs %}

            <div class="col-12 col-md-6 col-lg-4 mb-4 mt-4 item-related">
              {% include "shared/card/news.twig" with { post: post } %}
            </div>

        {% endfor %}

    </div><!-- /.row -->
  </div><!-- /.container -->

</section>

{% endblock %}
