{% extends "layout/main.twig" %}
{% set menu_active = "news" %}
{% set header_transparent = true %}

{% block content %}

{% include "../shared/_breadcrumbs.twig" %}


<div class="container">
  <div class="row">
    <div class="col-12">
      
      <header>
        <h1 class="font-primary">{{data.post_type_obj.title}}</span></h1>
        <p>Total de {{data.posts.total}} item(s), Página {{data.PAGE}}</p>
      </header>

    </div>
  </div>
</div>


<section class="post-list">

  <div class="container">
    
    {% if data.posts.docs.length %}
    <div class="row">
      <div class="col-12">
      {% for post in data.posts.docs %}
        {% include "shared/card/news.twig" with { post: post } %}
      {% endfor %}
      </div>
    </div>
    {% else %}
    <div class="row">
      <div class="col-12">
        <p>Nenhum item encontrado.</p>
      </div>
    </div>
    {% endif %}

    <div class="row mt-3">
      <div class="col-6 mb-3">
        {% if data.PAGE > 1 %}
        <a class="font-primary btn btn-secondary" href="{{data._SITE_URL ~ '/' ~ data.post_type ~ '?page=' ~ (data.PAGE-1) }}">
          <i class="fa fa-chevron-left"></i> Página Anterior
        </a>
        {% endif %}
      </div>
      <div class="col-6 text-right mb-3">
        {% if data.PAGE < data.posts.pages %}
        <a class="font-primary btn btn-secondary" href="{{data._SITE_URL ~ '/' ~ data.post_type ~ '?page=' ~ (data.PAGE+1) }}">
          Próxima página <i class="fa fa-chevron-right"></i>
        </a>
        {% endif %}
      </div>
    </div>

  </div>
</section><!-- /.post-list -->

{% endblock %}
