{% extends "layout/main.twig" %}
{% set menu_active = "news" %}
{% block content %}

{% include "../shared/_breadcrumbs.twig" %}

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Tag: {{data.tag.data.title}}</h1>
    </div>
  </div>
</div>


<div class="container">
  {% if data.posts.docs.length %}
  <div class="row">
    <div class="col-12">
    {% for post in data.posts.docs %}
      {% include "shared/card/news.twig" with { post: post } %}
    {% endfor %}
    </div>
  </div>
  {% else %}
  <div class="row">
    <div class="col-12">
      <p>Nenhum item encontrado.</p>
    </div>
  </div>
  {% endif %}

  <div class="row mt-3">
    <div class="col-6 mb-3">
      {% if data.PAGE > 1 %}
      <a class="font-primary button" href="{{ data.tag.getLink(data._SITE_URL) ~ '?page=' ~ (data.PAGE-1) }}">
        Página Anterior
      </a>
      {% endif %}
    </div>
    <div class="col-6 text-right mb-3">
      {% if data.PAGE < data.posts.pages %}
      <a class="font-primary button" href="{{ data.tag.getLink(data._SITE_URL) ~ '?page=' ~ (data.PAGE+1) }}">
        Próxima página
      </a>
      {% endif %}
    </div>
  </div>
</div>


{% endblock %}
