{% extends "layout/main.twig" %}

{% block content %}

{% include "../shared/_breadcrumbs.twig" %}

<div class="container">
  <div class="row">
    <div class="col-12">
      
      <h2>{{data.page.data.title}}</h2>
      <p>{{data.page.data.description}}</p>


      {{ data.page.data.content }}
      
    </div>
  </div>
</div>

<hr>

{% endblock %}
