{% extends "@main/layout/layout.twig" %}
{% block content %}


<div class="container">
  <div class="row">
    <div class="col-12">
      <header class="pt-2">
      {% if data.terms %}
        <h1>Buscando por "{{data.terms}}"</h1>
        {% if data.posts.pages > 0 %}
        <p>Página {{data.PAGE}} de {{data.posts.pages}}</p>
        {% endif %}
      {% else %}
        <h1>Buscar</h1>
      {% endif %} 
      </header>
    </div>

    <div class="col-12">
      <form action="/buscar" method="get" class="form-inline">
        <div class="form-group mb-3 mr-2">
          <input type="text" placeholder="Buscar" class="form-control" name="s" value="{{data.terms}}">
        </div>
        <button type="submit" class="btn btn-primary mb-3">Ir</button>
      </form>
      
    </div>
  </div>
</div>

{% if data.tags.length %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <i class="fa fa-tag"></i>
      {% for cat in data.tags %}
      <a href="{{cat.data.link}}">{{cat.data.title}}</a>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

{% if data.categories.length %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <i class="fa fa-tag"></i>
      {% for cat in data.categories %}
      <a href="{{cat.data.link}}">{{cat.data.title}}</a>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

<div class="container">
  {% if data.posts.docs.length %}
  <div class="row">
    <div class="col-12">
    {% for post in data.posts.docs %}
      {% include "@main/post/_card-news.twig" with { post: post } %}
    {% endfor %}
    </div>
  </div>
  {% else %}
  <div class="row">
    <div class="col-12">
      <p>Nenhum item encontrado.</p>
    </div>
  </div>
  {% endif %}

  <div class="row mt-3">
    <div class="col-6 mb-3">
      {% if data.PAGE > 1 %}
      <a class="font-primary button" href="{{ data.category.link ~ '?page=' ~ (data.PAGE-1) }}">
        Página Anterior
      </a>
      {% endif %}
    </div>
    <div class="col-6 text-right mb-3">
      {% if data.PAGE < data.posts.pages %}
      <a class="font-primary button" href="{{ data.category.link ~ '?page=' ~ (data.PAGE+1) }}">
        Próxima página
      </a>
      {% endif %}
    </div>
  </div>
</div>


{% endblock %}
