<header class="navbar navbar-dark bg-dark">
  <span class="navbar-brand text-truncate">Nova página</span>
  <div class="d-inline-block">
    <button class="btn btn-danger ml-2" (click)="cancel()" type="button">
      <i class="fa fa-chevron-left"></i> Cancelar
    </button>
  </div>
</header>


<section class="mt-3 mb-3">
  <form (ngSubmit)="save(form)" [formGroup]="form" (keydown.enter)="$event.preventDefault()">

  <div class="container-fluid">

    <div class="row mb-3">
      <div class="col-12 text-right">

        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-primary" type="button" type="button" ngbDropdownToggle><i class="fa fa-save"></i> Salvar</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" type="button" (click)="save(form, true)">Salvar e sair</button>
            <button class="dropdown-item" type="button" (click)="save(form)">Salvar e continuar editando</button>
          </div>
        </div>

        <button class="btn btn-outline-danger ml-2" *ngIf="MODE == 'edit'" (click)="delete()"><i class="fa fa-trash"></i> Deletar</button>

        <hr>

      </div>
    </div><!-- /row:actions -->

    <div class="row">

      <div class="col-12 col-md-8">

        <div class="form-group">
          <input type="text" formControlName="title" (blur)="generateSlug()" class="form-control form-control-lg mb-2" placeholder="Título"
          [ngClass]="[form.controls['title'].invalid && (form.controls['title'].dirty || form.controls['title'].touched) ? 'is-invalid' : '']">
        </div>

        <div class="form-group">
          <a href="javascript:void(0);" (click)="EDIT_SLUG = true" *ngIf="!EDIT_SLUG && form.controls['slug'].value" target="_blank">{{SITE_URL}}/{{(PARENT ? PARENT.slug+"/" : "")+form.controls['slug'].value}} <i class="fa fa-edit"></i></a>

          <div class="input-group" *ngIf="EDIT_SLUG">

            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">{{ (PARENT ? PARENT.slug : "")}}/</span>
            </div>

            <input type="text" formControlName="slug" class="form-control" (keyup)="generateSlug(form.controls['slug'].value)">

            <div class="input-group-append">
              <button type="button" class="btn btn-sm btn-primary" (click)="saveSlug()">Ok</button>
            </div>
          </div>

        </div>

        <div class="form-group">
          <input type="text" formControlName="description" class="form-control" placeholder="Descrição curta" [ngClass]="[form.controls['description'].invalid && (form.controls['description'].dirty || form.controls['description'].touched) ? 'is-invalid' : '']">
        </div>

        <div class="editor-wrap">
          <label for="">Conteúdo:</label>
          <app-editor [target]="form.controls['content']" [disabled]="editor" (outputData)="setContent($event)"></app-editor>

          <small><i class="fa fa-info"></i> Pode ser omitido pelo template.</small>
        </div>


        <div class="card mb-3 mt-3">
          <div class="card-header">
            <i class="fa fa-sitemap"></i> Otimização de SEO
          </div>
          <div class="card-body">

            <div class="form-group">
              <label for="">Titulo</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control" formControlName="seo_title">
              </div>
            </div><!-- /form-group -->

            <div class="form-group">
              <label for="">Descrição</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control"  formControlName="seo_description">
              </div>
            </div><!-- /form-group -->

          </div>
        </div><!-- /.card-seo -->

      </div> <!-- /.col -->

      <div class="col-12 col-md-4">

        <div class="card mb-3">

          <div class="wrap-image">
            <div class="no-image cover-bg text-center d-flex justify-content-center align-items-center" style="height: 150px; background-color: #f7f7f7;" [style.backgroundImage]="[OBJ_COVER ? 'url('+SITE_URL+'media/medium/'+OBJ_COVER.filename+')' : 'none']">
              <span *ngIf="!OBJ_COVER"><i class="fa fa-image"></i> SEM CAPA</span>
            </div>
          </div>

          <div class="card-body">
            <p class="card-text">
              <button type="button" (click)="editCover()" class="btn btn-success"><i class="fa fa-edit"></i> Editar</button>
              <button type="button" (click)="removeCover()" class="btn btn-danger ml-2"><i class="fa fa-trash"></i> Remover</button>
            </p>
          </div>
        </div>

        <div class="form-group mb-3">
          <label for=""><i class="fa fa-files-o"></i> Página Pai:</label>
          <select name="" id="" class="form-control" formControlName="parent" (change)="setParent()">
            <option [selected]="!form.controls['parent'].value" value="">Nenhuma</option>
            <option [value]="page.id" *ngFor="let page of PAGES">{{page.title}}</option>
          </select>
        </div> <!-- /.form-group -->

        <div class="form-group mb-3" *ngIf="TEMPLATES">
          <label for=""><i class="fa fa-file-image-o"></i> Arquivo de template:</label>
          <select name="" id="" class="form-control" formControlName="template">
            <option [selected]="!form.controls['template'].value" value="">Não</option>
            <option [value]="template" *ngFor="let template of TEMPLATES">{{template}}</option>
          </select>
        </div> <!-- /.form-group -->

        <div class="form-group mb-3">
          <label for=""><i class="fa fa-file-code-o"></i> Hook da Página:</label>
          <select name="" id="" class="form-control" formControlName="page_hook">
            <option [selected]="!form.controls['page_hook'].value" value="">Não</option>
            <option [value]="hook" *ngFor="let hook of HOOKS">{{hook}}</option>
          </select>
        </div> <!-- /.form-group -->

      </div>

    </div><!-- /.row -->

    <div class="row mt-3">
      <div class="col-12 text-right">
        <hr>

        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-primary" type="button" ngbDropdownToggle><i class="fa fa-save"></i> Salvar</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button type="button" (click)="save(form, true)" class="dropdown-item">Salvar e sair</button>
            <button type="button" (click)="save(form)" class="dropdown-item">Salvar e continuar editando</button>
          </div>
        </div>

        <button class="btn btn-outline-danger ml-2" *ngIf="MODE == 'edit'" (click)="delete()"><i class="fa fa-trash"></i> Deletar</button>

      </div>
    </div><!-- /row:actions -->

  </div><!--/.container -->

  </form>
</section>


<app-media *ngIf="SHOW_MODAL_MEDIA" (imageData)="getImage($event)" (dismissAction)="SHOW_MODAL_MEDIA = false"></app-media>
