<table *ngIf="data && data.length" class="table table-hover table-bordered">
  <thead>
    <tr>
      <th *ngFor="let column of columns">{{column.title}}</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of data">
      <td *ngFor="let column of columns">

        <div *ngIf="!column.data_type">{{column.getData(item)}}</div>
        <div *ngIf="column.data_type && column.data_type == 'link'">
          <a [routerLink]="column.getData(item).path">
            {{column.getData(item).label}}
          </a>
        </div>
        <div *ngIf="column.data_type && column.data_type == 'date'"><i class="fa fa-calendar"></i> {{column.getData(item)|date:"dd/MM/y 'às' HH:mm'hs'"}}</div>
        <div *ngIf="column.data_type && column.data_type == 'boolean'">
          <span class="badge badge-pill" [ngClass]="[!!column.getData(item).value ? 'badge-success' : 'badge-danger']">{{column.getData(item).label}}</span>
        </div>

      </td>
    </tr>
  </tbody>

  <tfoot>
    <tr>
      <th *ngFor="let column of columns">{{column.title}}</th>
    </tr>
  </tfoot>
</table>
<div *ngIf="!data || !data.length">
  <div class="alert alert-danger text-center" role="alert">
    Nenhum item encontrado.
  </div> <!-- /.alert -->
</div>
