<div *ngIf="form" class="mt-3 mb-3 container-fluid">

  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="row">

      <div class="col-12 col-sm-3 mb-2">
        <div class="input-group">
          <input type="text" class="form-control" [placeholder]="'Buscar'" formControlName="query">
        </div>
      </div>

      <div class="col-4 col-sm-3 mb-2" *ngFor="let filter of _filters">
        <input *ngIf="filter.type == 'text'" type="text" class="form-control input-sm" [placeholder]="filter.placeholder" [formControlName]="filter.name" [required]="filter.required" [minlength]="filter.minlength" [maxlength]="filter.maxlength">

        <select *ngIf="filter.type == 'select'" class="form-control input-sm" [formControlName]="filter.name" [required]="filter.required">
          <option *ngFor="let option of filter.value" [value]="option.split(':')[0]">{{option.split(':')[1]}}</option>
        </select>
      </div>

      <div class="col-12 col-sm-3 mb-2">
        <div class="input-group">
          <button class="btn btn-sm btn-secondary mr-2" type="reset" (click)="reset()"><i class="fa fa-refresh"></i> Resetar busca</button>
          <button class="btn btn-sm btn-primary" type="submit" (click)="submit()"><i class="fa fa-search"></i> Buscar</button>
        </div>
      </div>
    </div>

  </form>

</div>
