<page-head *ngIf="data" [title]="data.title + ' itens'" (onNew)="newPost($event)" [counter]="posts.total || 0"></page-head>

<section>
  <app-searchbar (onSearch)="submitSearch($event)" (onReset)="resetSearch($event)" [filters]="searchFilters" [value]="queryForm"></app-searchbar>
</section>

<section *ngIf="loaded">


  <div class="container-fluid">

    <div class="row" *ngIf="posts && posts.docs">
      <div class="col-12">
        <app-pagination [page]='PAGE' [total]='posts.pages' (changepage)="loadPosts($event)"></app-pagination>
      </div>
    </div>

    <div class="row" *ngIf="posts && posts.docs">
      <div class="col-12">
        <app-tablecontent [columns]="columns" [data]="posts.docs">
        </app-tablecontent>
      </div>
    </div>

    <div class="row" *ngIf="posts && posts.docs">
      <div class="col-12">
        <app-pagination [page]='PAGE' [total]='posts.pages' (changepage)="loadPosts($event)"></app-pagination>
      </div>
    </div>

  </div>

</section>
