{% extends "layout/main.twig" %}
{% set menu_active = "about" %}
{% block content %}


<section class="wrap-hero-banner" style="background-image: url(assets/img/about/banner.jpg)">
  <div class="text">
    <h1 class="font-primary text-lowercase">Quem <span>Somos</span></h1>
  </div>
</section>


<section class="champion">
  <div class="container">

    <div class="row">

      <div class="col-12 col-md-6">

        <div class="bg-cover">
          <div class="bg-champion" data-aos="fade-up" data-aos-offset="100"></div>
        </div><!-- /.bg-cover -->
      
      </div><!-- /.col- -->

        <div class="col-12 col-md-6">
          <div class="description font-secondary" >

            <h2 class="font-primary text-lowercase" data-aos="fade-left" data-aos-offset="150">O Campeão</h2>
              
              <p class="first">Lenda do MMA, gestor de carreiras, apresentador dos canais Combate e SportTV, empresário e embaixador do UFC e do Esporte Paralímpico Brasileiro. Rodrigo Nogueira, o Minotauro, é um verdadeiro fenômeno dentro e fora do octógono. E para ele não pode faltar energia para garantir o bom desempenho em todas essas atividades. Com esta visão nasceu a Minotauro Energy, marca de produtos assinados por ele e pelo irmão, o também campeão de MMA Rogério Nogueira, o Minotouro.</p>

              <ul>
                <li>- Minotauro é o único lutador que ganhou os cinturões dos pesos pesados no UFC e no Pride.</li>
                <li>- Além das artes marciais, pratica kitesurf e rédeas, um esporte de manobras com cavalos.</li>
                <li>- Rogério Minotouro segue na ativa lutando pelo UFC.</li>
                <li>- Juntos, Minotauro e Minotouro mantêm o Instituto Irmãos Nogueira que, através das artes marciais, ajuda mais de 1.500 crianças de comunidades do Rio de Janeiro.</li>
              </ul>

          </div>
        </div><!-- /.col- -->
    </div><!-- /.row -->

  </div><!-- /.container -->
</section><!-- /.champion -->


<section class="energy">
  <div class="container">

    <div class="row align-items-center">
      
      <div class="col-12 col-md-7 order-md-2">
        <div class="bg-cover" data-aos="fade-left" data-aos-offset="100">
          <div class="bg-energy"></div>
        </div>      
      </div><!-- /.col- -->

      <div class="col-12 col-md-5 order-md-1">
        <div class="description font-secondary" >

          <h2 class="font-primary text-lowercase" data-aos="fade-right" data-aos-offset="100">Minotauro Energy</h2>
            
            <p class="first">Minotauro Energy é a plataforma de produtos dos irmãos Rodrigo e Rogério Nogueira. O Minotauro Energy Drink, primeiro lançamento da empresa, foi criado em 2012 e passou por uma redefinição de estratégia de mercacdo em 2016, com melhorias na receita e no custo do produto para o consumidor final. Dois anos mais tarde, em 2018, foi lançada a versão Açaí do energético, com fórmula ZERO AÇÚCAR.</p>

            <p>Os produtos Minotauro Energy Drink e Minotauro Energy Drink Açaí seguem o conceito premium low cost, com altíssimo padrão de qualidade e baixo custo. Suas fórmulas são importadas da Alemanha e possuem aroma e sabor inigualáveis, com composto vitamínico completo.</p>

            <p>Os produtos Minotauro Energy são comercializados em mais de 30 mil pontos de vendas no estado do Rio de Janeiro, incluindo as redes Guanabara e Big Market. Em breve, a marca deve ser expandida para outras praças em nível nacional.</p>

        </div><!-- /.description -->
      </div><!-- /.col- -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.energy -->

{% endblock %}
