{% extends "layout/main.twig" %}

{% block content %}
<h2>Template {{data.page.data.title}}</h2>
<p>{{data.page.data.description}}</p>

<ul>
  <li>/</li>
  <li>/parent</li>
  <li>/page</li>
</ul>


<textarea name="" id="" cols="30" rows="10">{{data|json_encode}}</textarea>
{% endblock %}
