{% extends "layout/main.twig" %}
{% set menu_active = "contact" %}
{% set header_transparent = true %}

{% block content %}

<section class="wrap-hero-banner" style="background-image: url(assets/img/contact/banner.jpg)">
  <div class="text">
    <h1 class="font-primary text-lowercase">Fale <span>Conosco</span></h1>
  </div>
</section>

{% include "shared/_forms.twig" %}

{% endblock %}
