{% extends "layout/main.twig" %}
{% set menu_active = "finder" %}
{% set header_transparent = true %}

{% block content %}


<section class="wrap-hero-banner" style="background-image: url(assets/img/finder/banner.jpg)">
  <div class="text">
    <h1 class="font-primary text-lowercase">Onde <span>Encontrar</span></h1>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-12">
      
      <section class="map-explorer">

        <div class="list-wrap">

          <div class="list-container">
            
            <div class="form">

              <form class="form-search">

                <div class="form-group">
                  
                  <a href="javascript:void(0);" class="btn-reset mb-2"><i class="fa fa-refresh"></i> Resetar</a>

                  <div class="input-group form-inline">
                  <input type="text" required class="form-control" placeholder="Pesquise pelo endereço/CEP">
                    <div class="input-group-append">
                      <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                    </div>
                  </div>

                </div> 


                <button type="button" data-type="comercio" class="button btn-filter font-primary mr-2">Comércio</button>
                <button type="button" data-type="distribuidora" class="button btn-filter font-primary">Distribuidora</button>


              </form>
              
            </div><!-- /.form -->
            <div class="list">
              <ul>
                {% for store in data.stores %}
                <li data-type="{{store.data.inputs.type}}" data-lat="{{store.data.inputs.location.lat}}" data-lng="{{store.data.inputs.location.lng}}">
                  <a href="javascript:void(0)">
                    <div class="title">{{store.data.title}}</div>
                    <div class="address">{{store.data.inputs.address}}</div>
                    <div class="obs">{{store.data.inputs.phone}}</div>
                    <div class="distance"></div>
                  </a>
                </li>
                {% endfor %}
              </ul>

            </div><!-- /.list -->

          </div><!-- /.list-container -->
        </div><!-- /.list-wrap -->
        
        <div class="wrap-map">
          <div id="map" class="map">
          </div>
        </div> <!-- /.wrap-map -->

      </section><!-- /.map-explorer -->
      
    </div><!-- /.col -->
  </div><!-- /.row -->
</div>
{% endblock %}
