{% extends "layout/main.twig" %}
{% set menu_active = "energydrink" %}
{% set header_transparent = true %}

{% block content %}
{% include "shared/_hero-slider.twig" with { banners: [{ cover: "assets/img/minotauro-energy/banner.jpg" }] } %}

<p>{{data.page.data.description}}</p>

<ul>
  <li>/</li>
  <li>/parent</li>
  <li>/page</li>
</ul>


<textarea name="" id="" cols="30" rows="10">{{data|json_encode}}</textarea>
{% endblock %}
