{% extends "layout/main.twig" %}
{% set menu_active = "products" %}
{% set header_transparent = true %}
{% block content %}

{% include "shared/_hero-slider.twig" with { banners: [{ cover: data._SITE_URL ~ '/assets/img/products/banner.jpg' }] } %}

<div class="produto">
  <h1 class="font-primary text-lowercase">Produtos</h1>
</div>

<section class="product-energy">
  <div class="container">

    <div class="row">

      <div class="col-12 col-md-6">

        <div class="bg-cover">
          <div class="bg-product-energy" data-aos="fade-right" data-aos-offset="100"></div>
        </div>
      
      </div>

        <div class="col-12 col-md-6">
          <div class="description font-secondary" >

            <h2 class="font-primary" data-aos="fade-left" data-aos-offset="150"><span>Minotauro</span><br> Energy drink</h2>
              
              <p class="first">O energético oficial dos campeões Rodrigo e Rogério Nogueira. No mercado desde 2012, é uma das marcas favoritas dos cariocas, disponível em mais de 30 mil pontos de venda no estado do Rio de Janeiro.</p>

          </div>
        </div>
    </div>

  </div>
</section>


<section class="energy-acai">
  <div class="container">

    <div class="row align-items-center">

      <div class="col-12 col-md-6 order-md-2">
        <div class="bg-cover" data-aos="fade-left" data-aos-offset="100">
          <div class="bg-energy-acai"></div>
        </div>      
      </div>

      <div class="col-12 col-md-6 order-md-1">
        <div class="description font-secondary" >

          <h2 class="font-primary" data-aos="fade-right" data-aos-offset="100"><span>Minotauro</span><br> Energy drink açai </h2>
            
            <p class="first">Lançada em 2018, a versão açaí do Minotauro Energy Drink tem composição ZERO AÇÚCAR para atender aos consumidores mais preocupados com o corpo e a saúde. Tudo isso sem perder a qualidade!</p>

        </div>
      </div>

    </div>

  </div>
</section>


{% endblock %}
