{% extends "@amp/layout/layout.twig" %}
{% block content %}

<article itemScope itemType="https://schema.org/NewsArticle">
  <header>
    <h1 itemProp="name">{{data.post.title}}</h1>
    <p itemProp="headline">{{data.post.description}}</p>
    <hr>
    <small>Públicado em {{data.post.published_date|date("d/m/Y \- H:i")}}</small> - <small>Atualizado em {{data.post.updatedAt|date("d/m/Y \- H:i")}}</small>
    <hr>
  </header>

  {% if data.post.cover %}
    <amp-img alt="{{data.post.title}}"
      src="{{data.post.cover.large}}"
      width="16"
      height="9"
      class="contain"
      layout="responsive">
    </amp-img>
  {% endif %}

  <section class="page-news-content" itemProp="articleBody">
    {{data.post.content}}
  </section>

</article>

<span itemProp="author" itemScope itemType="http://schema.org/Person">
  <span itemProp="name" content={{ post.author.name }} />
</span>
<span itemProp="datePublished" content={{post.published_date}}></span>
<span itemProp="dateModified" content={{post.updatedAt}}></span>
<span itemProp="image" content={{post.cover ? post.cover.medium : ''}}></span>

<span itemProp="publisher" itemScope itemType="http://schema.org/Organization">
  <span itemProp="url" content="https://www.betsul.com/"></span>
  <span itemProp="name" content="{{data._SITE.config.sitename}}"></span>
  <span itemProp="logo" itemScope itemType="https://www.schema.org/ImageObject">
    <link
      itemProp="url"
      href="https://www.betsul.com/static/themes/betsul/apple-touch-icon.png"
    />
    <meta itemProp="width" content="180" />
    <meta itemProp="height" content="180" />
  </span>
</span>

<span itemProp="mainEntityOfPage" content="{{data._SITE_URL}}"></span>

<amp-facebook-comments width="486"
  height="657"
  layout="responsive"
  data-href="{{data._CANONICAL_URL}}">
</amp-facebook-comments>

{% endblock %}
