header {
  width: 100%;
  height: 50px;
  background: whitesmoke;
  padding: 5px 15px;
  display: grid;
  grid-template-columns: 40px 60px 1fr 40px;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  font-size: 12px;

  .logo {
    background: url('/assets/img/logo-gpost.png') no-repeat center center;
    display: block;
    background-size: contain;
    width: 100%;
    height: 40px;
    overflow: hidden;
    text-indent: -999px;
  }

  .sitename span {
    display: inline-block;
    max-width: 100px;
    vertical-align: middle;
    margin-right: 5px;
    font-weight: bold;
  }
}

footer {
  padding: 15px;
  font-size: 12px;
  background: whitesmoke;
  text-align: center;
  overflow: hidden;
}

.wrap-content {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  background: #ccc;

  #content {
    background: white;
    // width: calc(100% - 300px);
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
  }

  .content-wrap {
    min-height: calc(100vh - 50px);
  }

  #nav {
    width: 0;
    height: 100%;
    background: red;
    overflow: hidden;
    // transition: .1s all linear;
    background: #0c0c0c;
    border-right: 1px solid rgba(255, 255, 255,.1);

    &.-active {
      width: 300px;
      overflow: auto;
      & + #content {
        // width: calc(100% - 66px);
      }
    }

    & > div {
      padding: .5em;
      border-bottom: 1px solid rgba(255, 255, 255,.1);
    }

    .menu-title {
      color: #868686;
      font-weight: bold;
      padding: 3px 15px;
      font-size: 14px;
    }

    ul {
      list-style: none;
      padding: 0;
      font-style: none;
      display: block;
      margin-bottom: 0;
      // border-bottom: 1px solid rgba(255, 255, 255, .1);

      li {
        display: block;
        width: 100%;
        ul a { padding-left: .8rem; font-size: .6rem; opacity: .7; }

        a {
          display: block;
          color: white;
          font-weight: 500;
          font-style: normal;
          padding: .4rem 15px;
          font-size: 12px;
          &:hover {
            text-decoration: none;
            background: rgba(255,255,255, .1);
          }
        }
      }
    }
  }

}
