<section *ngIf="loaded">

  <header>
    <button class="btn btn-primary btn-sm my-2 my-sm-0" type="button" (click)="menuActive = !menuActive">
      <i class="fa" aria-hidden="true" [ngClass]="[menuActive ? 'fa-chevron-left' : 'fa-bars']"></i>
    </button>

    <a [href]="is_production ? '/admin' : '/'" class="logo" alt="GPOST">GPost</a>

    <div class="sitename">
      <a [href]="SITE_URL" target="_blank">
        <span class="text-truncate">{{getConfigByKey('sitename')}}</span> <i class="fa fa-external-link"></i>
      </a>
    </div>

    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-sm btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-user"></i></button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item" routerLink="/me"><i class="fa fa-cog" aria-hidden="true"></i> Configurações</button>
        <button class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Sair</button>
      </div>
    </div>

  </header>

  <section class="wrap-content">
    <nav id="nav" [ngClass]="[menuActive ? '-active' : '']">

      <div *ngFor="let item of postTypes">
        <div class="menu-title"><i class="fa fa-bookmark"></i> {{item.title}}</div>
        <ul>
          <li><a [routerLink]="'/posttype/'+item.id+'/categories'"><i class="fa fa-cog"></i> {{item.title}} categorias</a></li>
          <li><a [routerLink]="'/posttype/'+item.id"><i class="fa fa-th-list"></i> {{item.title}} itens</a></li>
          <li><a [routerLink]="'/posttype/'+item.id"><i class="fa fa-pencil"></i> Configurações de {{item.title}}</a></li>
        </ul>
      </div>

      <div>
        <div class="menu-title"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Conteúdo</div>
        <ul>
          <li><a routerLink="/pages">Páginas</a></li>
          <li><a routerLink="/banners">Banners</a></li>
          <li><a routerLink="/gallery">Galerias</a></li>
        </ul>
      </div>


      <div *ngIf="siteConfig.forms && siteConfig.forms.length">
        <div class="menu-title"><i class="fa fa-file"></i> Formulários</div>
        <ul>
          <li *ngFor="let item of siteConfig.forms"><a [routerLink]="'/forms/'+item.key">{{item.title}}</a></li>
        </ul>
      </div>

      <div *ngIf="siteConfig.custom_areas && siteConfig.custom_areas.length">
        <div class="menu-title"><i class="fa fa-file"></i> Custom Áreas</div>
        <ul>
          <li *ngFor="let item of siteConfig.custom_areas"><a [routerLink]="'/custom/'+item.key">{{item.title}}</a></li>
        </ul>
      </div>

      <div>
        <div class="menu-title"><i class="fa fa-globe"></i> Site</div>
        <ul>
          <li><a routerLink="/redirects">Redirects</a></li>
          <li><a routerLink="/settings">Configurações</a></li>
        </ul>
      </div>

      <div>
        <div class="menu-title"><i class="fa fa-users"></i> Usuários</div>
        <ul>
          <li><a routerLink="/users">Gerenciar</a></li>
        </ul>
      </div>

      <div>
        <div class="menu-title"><i class="fa fa-user"></i> Minha Conta</div>
        <ul>
          <li><a routerLink="/me">Configurações</a></li>
          <li><a href="javascript:void(0);" (click)="logout()">Sair</a></li>
        </ul>
      </div>

    </nav>
    <section id="content">

      <div class="content-wrap">
        <router-outlet></router-outlet>
      </div>

      <footer>
        GPOST v2.2.0
      </footer>

    </section>
  </section>

</section>
