<header class="navbar navbar-dark bg-dark">
  <span class="navbar-brand text-truncate">Configurações</span>
  <div class="d-inline-block">
    <a href="javascript:void(0);" class="btn btn-success ml-2" routerLink="new">
      Nova chave
    </a>
  </div>
</header>

<div class="container-fluid" *ngIf="loaded && data">

  <div class="row mb-5 mt-5" *ngIf="data.keys.length">
    <div class="col-12">

      <ul class="list-group">
        <li class="list-group-item list-group-item-action flex-column align-items-start mb-2" *ngFor="let item of data.keys">

          <div class="">
            <div>
              <h5 class="mb-1">{{item.key_name}}</h5>
              <small><code>{{item.key_slug}}</code></small>
              <hr>
              <p>{{item.key_value}}</p>
              <hr>
              <a href="javascript:void(0);" [routerLink]="'edit/'+item.id" class="btn btn-primary"><i class="fa fa-edit"></i> Editar</a>
            </div>
          </div>
        </li>
      </ul>
    </div><!-- /.col -->
  </div><!-- /.row -->


</div><!-- /.container-fluid -->
