<div class="container">
  <div class="row">
    <div class="col-12">
		<nav aria-label="breadcrumb">
		  <ol class="breadcrumb">
		    {% for key, item in data.breadcrumbs %}
		    <li class="breadcrumb-item {{loop.last ? 'active' : ''}}">
          <a href="{{item.path}}">{{item.title}}</a>
        </li>
		    {% endfor %}
		  </ol>
		</nav>      
    </div>
  </div>
</div>
