
<section class="home-hero-getus mt-5">

  <div class="container">
    {% if isHome %}
    <div class="row">
      <div class="col-12"><h2 class="text-lowercase font-primary">Fale Conosco</h2></div>
    </div>
    {% endif %}

    <div class="row">
      <div class="col-12 col-md-6 mb-5 mb-lg-0">

        <div class="wrap-form-contact">
          <form action="/forms/contact" class="form-ajax" method="post">
            
            <div class="row">
              
              <div class="form-group col-md-6">
                <input type="text" class="form-control" name="name" placeholder="Nome" required>
              </div>

              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" placeholder="E-mail" required>
              </div>
            </div>

            <div class="form-group">
              <input type="text" class="form-control" name="phone" placeholder="Telefone" data-mask="(00) 0000-00000" required>
            </div>

            <div class="form-group">
              <textarea name="message" id="" cols="30" rows="10" placeholder="Mensagem" class="form-control"></textarea>
            </div>

            <button type="submit" class="btn text-lowercase font-primary">Enviar</button>

          </form>
        </div><!-- /.wrap-form-contact -->

      </div>
      <div class="col-12 col-md-6">

        <div class="box">
          
          <form action="/forms/newsletter" method="post" class="form-ajax">
            <p>Receba novidades antes de todo mundo</p>

            <div class="form-group">
              
              <div class="input-group form-inline">
              <input type="email" required class="form-control" name="email" placeholder="E-mail">
                <div class="input-group-append">
                  <button type="submit" class="btn"><i class="fa fa-send-o"></i></button>
                </div>
              </div>

            </div> 
          </form>

          <p>Siga nas Redes</p>

          <ul class="social">
            <li><a href="{{ data._SITE.getConfig('link-facebook')|default("#") }}"><i class="fa fa-facebook"></i><span>Facebook</span></a></li>
            <li><a href="{{ data._SITE.getConfig('link-instagram')|default("#") }}"><i class="fa fa-instagram"></i><span>Instagram</span></a></li>
            <li><a href="{{ data._SITE.getConfig('link-youtube')|default("#") }}"><i class="fa fa-youtube-play"></i><span>YouTube</span></a></li>
          </ul>
        </div><!-- /.box -->

      </div><!-- /.col -->
    
    </div><!-- /.row -->
  
  </div><!-- /.container -->

</section><!-- /hero-home-news-->
