<section class="wrap-hero-banner">
  <div class="hero-banner">
    <div class="item">
      <div class="banner">
        <h1 class="font-primary">quem <span>somos</span></h1>
      </div>
    </div>
  </div>
</section>
