{% if banners %}
<div class="wrap-hero-slider">
  <section class="hero-slider owl-carousel">
    {% for banner in banners %}
    {% if banner.link and banner.cover %}
    <a href="{{banner.link}}" target="_blank" class="item">
      <div class="cover" style="background-image: url('{{banner.cover}}');"></div>
    </a>
    {% elseif banner.cover %}
    <div class="item">
      <div class="cover" style="background-image: url('{{banner.cover}}');"></div>
    </div>
    {% endif %}
    {% endfor %}
  </section>
</div>
<!-- /.slider -->
{% endif %}
