{# <ul class="nav-social">
  {% if data._SITE.getConfig('link-facebook') %}
  <li>
    <a href="{{ data._SITE.getConfig('link-facebook')|default("#") }}" target="_blank" alt="Facebook"><i class="fa fa-facebook-square"></i></a>
  </li>
  {% endif %}
  {% if data._SITE.getConfig('link-instagram') %}
  <li>
    <a href="{{ data._SITE.getConfig('link-instagram')|default("#") }}" target="_blank" alt="Instagram"><i class="fa fa-instagram"></i></a>
  </li>
  {% endif %}
  {% if data._SITE.getConfig('link-youtube') %}
  <li>
    <a href="{{ data._SITE.getConfig('link-youtube')|default("#") }}" target="_blank" alt="YouTube"><i class="fa fa-youtube-play"></i></a>
  </li>
  {% endif %}
</ul>
#}

 <ul class="nav-social">
  <li>
    <a href="{{ data._SITE.getConfig('link-facebook')|default("#") }}" target="_blank" alt="Facebook"><i class="fa fa-facebook-square"></i></a>
  </li>
  <li>
    <a href="{{ data._SITE.getConfig('link-twitter')|default("#") }}" target="_blank" alt="Twitter"><i class="fa fa-twitter-square"></i></a>
  </li>
  <li>
    <a href="{{ data._SITE.getConfig('link-instagram')|default("#") }}" target="_blank" alt="Instagram"><i class="fa fa-instagram"></i></a>
  </li>
  <li>
    <a href="{{ data._SITE.getConfig('link-youtube')|default("#") }}" target="_blank" alt="YouTube"><i class="fa fa-youtube-play"></i></a>
  </li>
</ul>
