<ul class="nav">
  <li><a href="{{data._SITE_URL}}/quem-somos">Quem Somos</a></li>
  <li><a href="{{data._SITE_URL}}/contato">Contato</a></li>
  <li><a href="{{data._SITE_URL}}/politica-de-privacidade">Política de Privacidade</a></li>
</ul>
