<footer id="footer">
  <section class="main-footer">
    <div class="container">
      
      <div class="row">
          <div class="col-12 text-center">
            <a href="{{data._SITE_URL}}" class="main-footer__logo">{{ data._SITE.getConfig('sitename') }}</a>
          </div>
      </div><!-- /.row -->

      <div class="row align-items-lg-center">
        <div class="col-12 col-lg-6">
          <div class="main-footer__nav">
            {% include "./_nav.twig" %}
          </div>
        </div>
        <div class="col-12 col-lg-4">

          <div class="main-footer__secondary-wrap">
            {% include "./_nav-social.twig" %}

            <div class="main-footer__sponsor">
              
              <a href="https://www.betsul.com" rel="nofollow" class="main-footer__sponsor__logo">
                Betsul
              </a>
              <p class="main-footer__sponsor__text">
                Patrocinador oficial
              </p>
            </div><!-- /.main-footer__sponsor -->

            <div class="main-footer__apps">
              <ul>
                <li><a class="footer__apps__appstore" href="https://apps.apple.com/br/app/footstats-premium/id1439720813" target="_blank" rel="nofollow">Footstas Premium - AppStore</a></li>
                <li><a class="footer__apps__googleplay" href="https://play.google.com/store/apps/details?id=net.footstats.premium&hl=en" rel="nofollow" target="_blank">Footstas Premium - Google Play</a></li>
              </ul>
            </div><!-- /.main-footer__apps -->

        </div><!-- /.main-footer__secondary-wrap -->

       </div><!-- /.col -->

    </div><!-- /.row -->
  </section>


  <section class="footer-copyrights">
    <div class="container">
      <div class="row">
        
        <div class="col-12 d-none d-lg-block">
          <hr>
        </div>
        
        <div class="col-12">
          <ul>
            <li><a href="/politica-de-privacidade">Privacidade</a></li>
            <li><a href="/termos-e-condicoes">Termos e condicões</a></li>
            <li><a href="/politica-de-cookies">Política de cookies</a></li>
          </ul>
        </div>

      </div>

      <div class="row">
        <div class="col-12 text-center">
          <p>&copy; {{ "now"|date('Y') }} Todos os direitos Reservados</p>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <p class="text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
  </section>

</footer>
