<header id="header" class="main-header">

  <div class="main-header__wrap">
    <button class="main-header__button main-header__button-menu d-lg-none"><i class="fa fa-bars"></i></button>
    {% if isHome %}
    <h1 class="main-header__logo"><a href="{{data._SITE_URL}}">{{ data._SITE.getConfig('sitename') }}</a></h1>
    {% else %}
    <p  class="main-header__logo"><a href="{{data._SITE_URL}}">{{ data._SITE.getConfig('sitename') }}</a></p>
    {% endif %}
    <a href="/buscar" class="main-header__button main-header__button-search d-lg-none"><i class="fa fa-search"></i></a>

    <div class="main-header__searchbar d-none d-lg-block">
      <div class="main-header__searchbar__inputwrap">
        <form action="/buscar">
          <div class="main-header__searchbar__icon">
            <i class="fa fa-search"></i>
          </div>
          <input name="s" class="main-header__searchbar__input" type="text" placeholder="Procurar por jogos, times, jogadores, etc…" maxlength="100" minlength="2" required value="{{data.terms ? data.terms : ''}}">
        </form>
      </div>
    </div><!-- /.main-header__searchbar -->

    <div class="main-header__user-notify d-none d-lg-block">
      <div class="main-header__user-notify__wrap">
        <a href="#" class="main-header__user-notify__button" title="Mensagens"><i class="fa fa-envelope-o"></i></a>
        <a href="#" class="main-header__user-notify__button main-header__user-notify__button--active" title="Notificações"><i class="fa fa-bell-o"></i></a>
      </div>
    </div>


    <div class="main-header__user d-none d-lg-block">
      <div class="main-header__user__wrap">
        <div class="main-header__user__avatar" style="background-image: url('https://www.dummyimage.com/100x100/444/ccc.jpg')"></div>
        <div class="main-header__user__info">
          <div class="main-header__user__name">Marcus Coura</div>
          <div class="main-header__user__status">Conectado</div>
        </div>

        <button class="main-header__user__button"><i class="fa fa-chevron-down"></i></button>
      </div>
    </div>

  </div><!-- /.main-header-wrap -->

</header><!-- /#header -->


<aside class="main-nav d-none d-lg-block">
  <nav class="main-nav__wrap">
    

    {% include "./_nav.twig" %}
  </nav><!-- /.main-nav-wrap -->
</aside>


<aside class="main-nav-mobile">
  <div class="main-nav-mobile__shadow"></div>
  <nav class="main-nav-mobile__wrap">
    <div class="main-nav-mobile__user"></div>
    {% include "./_nav.twig" %}
  </nav>
</aside>
