<page-head *ngIf="data" [title]="data.title + ' categorias'" (onNew)="newPost($event)" [counter]="categories.length || 0"></page-head>

<section>
  <app-searchbar (onSearch)="submitSearch($event)" (onReset)="resetSearch($event)" [value]="queryForm"></app-searchbar>
</section>


<section *ngIf="loaded">
  <div class="container-fluid">
    <div class="row" *ngIf="categories">
      <div class="col-12">
        <app-tablecontent [columns]="columns" [data]="categories">
        </app-tablecontent>
      </div>
    </div>
  </div>
</section>
