<header class="navbar navbar-dark bg-dark">
  <span class="navbar-brand text-truncate">Páginas</span>
  <div class="d-inline-block">
    <a href="javascript:void(0);" class="btn btn-success ml-2" routerLink="new">
      Novo
    </a>
  </div>
</header>

<div class="container-fluid">

  <div class="row mb-5 mt-5" *ngIf="!loaded">
    <div class="col-12">
      <div class="alert alert-info text-center" role="alert">
        <i class="fa fa-cog fa-spin fa-fw"></i>
        <span>Carregando...</span>
      </div> <!-- /.alert -->
    </div> <!-- /.col -->
  </div> <!-- /.row -->


  <div class="row mb-5 mt-5" *ngIf="loaded && !pages.length">
    <div class="col-12">
      <div class="alert alert-danger text-center" role="alert">
        Nenhum item encontrado.
      </div> <!-- /.alert -->
    </div> <!-- /.col -->
  </div> <!-- /.row -->

  <div class="row mb-5 mt-5" *ngIf="pages.length">
    <div class="col-12">

      <ul class="list-group">
        <li class="list-group-item list-group-item-action flex-column align-items-start mb-2" *ngFor="let item of pages">

          <div class="d-flex w-100 justify-content-between">
            <div>
              <h5 class="mb-1">{{item.title}}</h5>
              <small>{{'/' + item.slug}}</small>
            </div>
            <a href="javascript:void(0);" [routerLink]="'edit/'+item.id" class="btn btn-primary" style="height: 100%;">Editar</a>
          </div>

          <ul class="list-group">
            <ng-container *ngFor="let subitem of pagesChild">

            <li class="list-group-item list-group-item-action flex-column align-items-start mt-2"  *ngIf="subitem.parent == item.id">
              <div class="d-flex w-100 justify-content-between">
                <div>
                  <h5 class="mb-1 text-truncate">{{subitem.title}}</h5>
                  <small>{{'/' + item.slug + "/" + subitem.slug }}</small>
                </div>
                <a href="javascript:void(0);" [routerLink]="'edit/'+subitem.id" class="btn btn-primary" style="height: 100%;">Editar</a>
              </div>
            </li>

            </ng-container>
          </ul>

        </li>
      </ul>
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container -->
