<div class="shadow" (click)="dismiss()"></div>

<section class="content">

  <page-head title="Media" (onCancel)="dismiss()" [counter]="medias ? medias.docs.length : 0"></page-head>

  <section *ngIf="loaded">

    <div class="container-fluid">

      <div class="row mb-2 mt-2">

        <div class="col-md-6">
            <form [formGroup]="form" (ngSubmit)="upload()">
              <p class="d-flex justify-content-between flex-wrap">
                <span class="mb-2">
                  <input type="file" id="image" name="image" (change)="onFileChange($event)" [disabled]="isUploading"  #fileInput>
                </span>
                <button class="btn btn-primary" type="submit" [disabled]="isUploading || !imageIsValid"> <i class="fa fa-cloud-upload"></i> Upload</button>
              </p>
            </form>
        </div>

        <div class="col-md-6">
          <div class="input-group">
            <input type="text" class="form-control" [formControl]="query">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" (click)="loadMedia()"><i class="fa fa-search"></i> Buscar</button>
              <button class="btn btn-danger" type="button" (click)="resetBusca()" *ngIf="query.value"><i class="fa fa-cross"></i> Resetar</button>
            </div>
          </div>

        </div>

      </div><!-- /.row -->

      <div class="row" *ngIf="medias && medias.docs">
        <div class="col-12">
          <app-pagination [page]='PAGE' [total]='medias.pages' (changepage)="loadMedia($event)"></app-pagination>
        </div>
      </div>


      <div class="row" *ngIf="medias && medias.docs">
        <div class="col-4 col-sm-3 col-md-2" *ngFor="let media of medias.docs; let i = index">
          <div class="img-card mt-3 mb-3" *ngIf="media.data.sizes">
            <div class="image" [style.backgroundImage]="'url('+media.data.sizes.thumb+')'" (click)="selectImage(media)" title="{{media.data.filename}}">
              <span>{{media.data.filename}}</span>
            </div>
            <div class="actions">
              <button class="btn btn-danger primary" (click)="delete(media.data.filename)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
        </div><!-- /.col -->
      </div>

      <div class="row" *ngIf="medias && !medias.docs.length">
        <div class="col-12">
          <div class="alert alert-info text-center" role="alert">
            <span><i class="fa fa-warning"></i> Nenhum Encontrado</span>
          </div> <!-- /.alert -->
        </div>
      </div>

      <div class="row" *ngIf="medias && medias.docs">
        <div class="col-12">
          <app-pagination [page]='PAGE' [total]='medias.pages' (changepage)="loadMedia($event)"></app-pagination>
        </div>
      </div>

    </div><!-- /.container -->

  </section>

  <section *ngIf="!loaded" class="mt-5 mb-5">
    <div class="container-fluid" *ngIf="!loaded">

      <div class="row">
        <div class="col-12">
          <div class="alert alert-warning text-center" role="alert">
            <span><i class="fa fa-cog fa-spin"></i> Carregando...</span>
          </div> <!-- /.alert -->
        </div>
      </div>

    </div>
  </section>


</section>
