<header class="navbar navbar-dark bg-dark">
  <span class="navbar-brand text-truncate">Banners</span>
</header>


<div class="container-fluid">


  <div class="row mb-5 mt-5" *ngIf="!loaded">
    <div class="col-12">
      <div class="alert alert-info text-center" role="alert">
        <i class="fa fa-cog fa-spin fa-fw"></i>
        <span>Carregando...</span>
      </div> <!-- /.alert -->
    </div> <!-- /.col -->
  </div> <!-- /.row -->


  <div class="row mb-5 mt-5" *ngIf="loaded && items.length">
    <div class="col-12">

      <ul class="list-group">
        <li class="list-group-item list-group-item-action flex-column align-items-start mb-2" *ngFor="let item of items">

          <div class="d-flex w-100 justify-content-between align-items-center">
            <div>
              <h5 class="mb-1">{{item.title}}</h5>
              <p class="mb-0">{{item.description}}</p>
              <small>
                <code>{{item.key}}</code>
              </small>
            </div>
            <div style="height: 100%;">
              <a href="javascript:void(0);" [routerLink]="'/banners/'+item.key" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i> Editar</a>
            </div>
          </div>

      </ul>
    </div><!-- /.col -->
  </div><!-- /.row -->

</div>
