@import "sass/lib/bootstrap";
@import "sass/lib/fontawesome";

/* You can add global styles to this file, and also import other style files */
body {
  overflow: hidden;
  font-size: 16px;
}

#content .container-fluid {
  max-width: 1200px;
}


.cover-bg {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}


.ck .media { display: block; }

.ck.ck-sticky-panel .ck-sticky-panel__content_sticky {
  top: 50px !important;
}
