$FONT_SIZE_DEFAULT: 12;
$FONT_SIZE_HD: 22;


/// @type Number
$zindex-header: 10;
/// @type Number
$zindex-loading: 20;

/// @type Size
$header-height: 60px;

/// @type Size
$border-radius: 4px;

/// @type List
$breakpoints: (
  "xs" : 576px,
  "sm" : 768px,
  "md" : 992px,
  "lg" : 1200px
);

/// @type List
/// @group Typography
$fontsize: (
  "xs" : 12px,
  "sm" : 13px,
  "md" : 14px,
  "lg" : 16px
);


/// @type Colors
/// @group Colors
$color-default: #000;
$color-default-invert: #ffffff;
/// @type Color
/// @group Colors
$color-accent: #ffbd0e;
/// @type Color
/// @group Colors
$color-secondary: #1d1d1b;
/// @type Color
/// @group Colors
$color-background: #FFFFFF;
$color-background-invert: #000000;

/// @type List
/// @group Colors
$colors: (
  "default" : $color-default,
  "default-invert" : $color-default-invert,
  "accent" : $color-accent,
  "secondary" : $color-secondary,
  "background" : $color-background,
  "background-invert" : $color-background-invert
);

/// @type Color
/// @group Colors
$color-ui-warning: #ffbd0e;
/// @type Color
/// @group Colors
$color-ui-error: #ff0000;
/// @type Color
/// @group Colors
$color-ui-success: #00a802;
/// @type Color
/// @group Colors
$color-ui-info: #11d6d6;

/// @type List
/// @group Colors
$colors-ui: (
  "warning" : $color-ui-warning,
  "error" : $color-ui-error,
  "success" : $color-ui-success,
  "info" : $color-ui-info
);

/// @type Font
/// @group Typography
$font-primary: "Rubik", sans-serif;
/// @type Font
/// @group Typography
$fonts: (
  "primary" : $font-primary,
);
