<div class="container" *ngIf="loaded">
  <div class="row justify-content-center align-items-center" style="height:100vh">
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-body">
          <figure class="mb-3">
            <img src="./assets/img/logo-gpost.png" alt="GPOST" class="img-fluid">
          </figure>

          <form [formGroup]="form" (ngSubmit)="loginUser(form)" autocomplete="off">
              <div class="form-group">
                  <input type="text" required formControlName="email" placeholder="e-mail" class="form-control">
              </div>
              <div class="form-group">
                  <input type="password" required formControlName="password" placeholder="senha" class="form-control">
              </div>
              <button type="button" type="submit" class="btn btn-block btn-success">Login</button>
          </form>

          <div class="mt-3 text-center">
            <small><em>V 2.2.0</em> - <a [href]="SITE_URL" target="_blank" class="text-center">{{helper.getConfigByKey(siteConfig.keys, 'sitename')}} <i class="fa fa-external-link"></i></a></small>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
<div class="container" *ngIf="!loaded">
  <div class="row justify-content-center align-items-center" style="height:100vh">
    <div class="col-12 col-md-4 text-center">
      <div class="m-3">
        <img src="./assets/img/logo-gpost.png" alt="GPOST" class="img-fluid">
      </div>
    </div>
  </div>
</div>
