.article {

  img {
    max-width: 100%;
    height: auto;
  }

  // font-size: 1rem;

  h1 { font-size: 2rem; }
  h2 { font-size: 1.8rem; }
  h3 { font-size: 1.6rem; }
  h4 { font-size: 1.5rem; }
  h5 { font-size: 1.4rem; }
  h6 { font-size: 1.3rem; }

}
