.cardnews {
  display: block;

  .cardnews__cover {
    width: 100%;
    background: #000;
    position: relative;
    overflow: hidden;
    border-radius: 4px;

    &:before {
      content: "";
      display: block;
      padding-top: 56.9%;
    }

  }

  .cardnews__cover__image,
  .cardnews__cover__blur {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: .15s all linear;
  }

  .cardnews__cover__blur {
    z-index: 0;
    opacity: .5;
    filter: blur(3px);
    background-size: cover;
    width: 110%;
    height: 110%;
    transform: translate(-5%, -5%);
  }

  &:hover .cardnews__cover__image {
    transform: scale(1.1);
  }

}
