.site-loading {
  z-index: $zindex-loading;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(map-get($colors, background-invert), .6);
  opacity: 0;
  pointer-events: none;
  transition: .3s all linear;

  &:after {
    content: "";
    display: block;
    width: convertSizeToRem(60);
    height: convertSizeToRem(60);
    margin-left: -#{convertSizeToRem(30)};
    margin-right: -#{convertSizeToRem(30)};
    background: red;
    top: 50%;
    left: 50%;
    position: absolute;
    border-radius: 50%;
    background: transparent;
    border: convertSizeToRem(5) solid map-get($colors, accent);
    border-right-color: transparent;
    animation: site-loader-animate .5s infinite;
  }
}


@keyframes site-loader-animate {
  from { transform: rotate(0deg);}
  to { transform: rotate(360deg);}
}

body.is-loading {
  overflow: hidden;

  .app-wrap {
    filter: blur(1px);
  }

  .site-loading {
    pointer-events: initial;
    opacity: 1;
  }
}
