<nav>
  <ul class="pagination">
    <li [class]="'page-item' + (page == 1 ? ' disabled' : '')"><a class="page-link" href="javascript:void(0);" (click)="setPage(page-1)"><i class="fa fa-angle-left"></i></a></li>
    <li [class]="'page-item' + (page == 1 ? ' disabled' : '')"><a class="page-link" href="javascript:void(0);" (click)="setPage(1)"><i class="fa fa-angle-double-left"></i></a></li>
    <li
      *ngFor="let pg of pageArray; let i = index"
      [class]="'page-item' + (page == pg ? ' active' : '')"
      >
      <a class="page-link" href="javascript:void(0);" (click)="setPage(pg)">{{pg}}</a>
    </li>
    <li [class]="'page-item' + (page >= total ? ' disabled' : '')"><a class="page-link" href="javascript:void(0);" (click)="setPage(total)"><i class="fa fa-angle-double-right"></i></a></li>
    <li [class]="'page-item' + (page >= total ? ' disabled' : '')"><a class="page-link" href="javascript:void(0);" (click)="setPage(page+1)"><i class="fa fa-angle-right"></i></a></li>
  </ul>
</nav>
