<form [formGroup]="editor_form" (keydown.enter)="$event.preventDefault()">
  <ckeditor #editor [editor]="CKEditor" [disabled]="disabled" [config]="ckconfig" formControlName="content"></ckeditor>
</form>
