<header class="navbar navbar-dark bg-dark">
  <span class="navbar-brand">Minha Conta</span>
</header>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <form (ngSubmit)="update(formData)" [formGroup]="formData" autocomplete="off">
        <div class="card mt-3 mb-3">
          <div class="card-body">
            <div class="mb-2">
              <h2 class="h5 text-uppercase"><i class="fa fa-address-card" aria-hidden="true"></i> Dados básicos</h2>
            </div>
            <div>
              <div class="w-100 mb-2 form-group">
                <input class="form-control" placeholder="Nome" formControlName="name">
              </div>
            </div>

            <div>
              <div class="w-100 mb-2 form-group">
                <input class="form-control" placeholder="E-mail" formControlName="email">
              </div>
            </div>

            <div>
              <div class="w-100 mb-2 form-group">
                <input class="form-control" placeholder="Profissão" formControlName="front_role">
              </div>
            </div>

            <div>
              <label for="">Bio:</label>
              <div class="w-100 mb-2 form-group">
                <textarea id="" cols="30" class="form-control" rows="3" formControlName="bio" maxlength="150"></textarea>
              </div>
            </div>

            <div class="text-right">
              <button class="btn btn-success" [disabled]="!editor || !formData.valid" type="submit">
                Atualizar Dados
              </button>
            </div>
          </div>
        </div>
      </form>
    </div> <!-- /.col-6 -->

    <div class="col-12 col-md-6 mt-3 mb-3">
      <form (ngSubmit)="updatePass(passData)" [formGroup]="passData" autocomplete="off">
        <div class="card">
          <div class="card-body">
            <div class="mb-2">
              <h2 class="h5 text-uppercase"><i class="fa fa-lock" aria-hidden="true"></i> Atualizar Senha</h2>
            </div>
            <div>
              <div class="w-100 mb-2 form-group">
                <input class="form-control" type="password" autocomplete="false" formControlName="password" placeholder="Nova Senha">
              </div>
            </div>
            <div>
              <div class="w-100 mb-2 form-group">
                <input class="form-control" type="password" autocomplete="false" formControlName="passwordB" placeholder="Repetir a Senha">
              </div>
            </div>
            <div class="text-right">
              <button class="btn btn-primary" [disabled]="!editorPass || !passData.valid" type="submit">
                Atualizar Senha
              </button>
            </div>
          </div>
        </div>
      </form>
    </div> <!-- /.col-6 -->

  </div>
</div>
