<page-head *ngIf="postType.title" [title]="(MODE == 'new' ? 'Novo' : 'Editar')+' item de '+postType.title" (onCancel)="cancel()"></page-head>

<section class="mt-3 mb-3" *ngIf="loaded && postType">
  <form (ngSubmit)="save(form)" [formGroup]="form" (keydown.enter)="$event.preventDefault()">

  <div class="container-fluid">

    <div class="row mb-3">
      <div class="col-12 text-right">

        <button *ngIf="MODE == 'edit'" class="btn btn-sm btn-outline-danger mr-2" type="button" (click)="delete()"><i class="fa fa-trash"></i> Deletar</button>

        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-sm btn-primary" type="button" type="button" ngbDropdownToggle><i class="fa fa-save"></i> Salvar</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" type="button" (click)="save(form, true)">Salvar e sair</button>
            <button *ngIf="MODE == 'edit'" class="dropdown-item" type="button" (click)="save(form)">Salvar e continuar editando</button>
          </div>
        </div>


        <hr>

      </div>
    </div><!-- /row:actions -->

    <div class="row">

      <div class="col-12 col-md-9">

        <div class="form-group">
          <input type="text" formControlName="title" (blur)="generateSlug()" class="form-control form-control-lg mb-2" placeholder="Título"
          [ngClass]="[form.controls['title'].invalid && (form.controls['title'].dirty || form.controls['title'].touched) ? 'is-invalid' : '']">
        </div>

        <div class="mt-2 mb-2" *ngIf="MODE == 'edit' && POST">
          <a [href]="SITE_URL +'/'+postType.slug+'/'+POST.slug " target="_blank" class="btn btn-primary btn-sm">
            <i class="fa fa-eye"></i>
            Visualizar Item
          </a>
        </div>

        <div class="form-group" *ngIf="form.controls['category'].value != 0">
          <a href="javascript:void(0);" (click)="EDIT_SLUG = true" *ngIf="!EDIT_SLUG && form.controls['slug'].value">{{SITE_URL}}/{{form.controls['slug'].value}} <i class="fa fa-edit"></i></a>

          <div class="input-group" *ngIf="EDIT_SLUG">

            <div class="input-group-prepend">
              <span class="input-group-text">{{postType.slug}}/</span>
            </div>
            <input type="text" formControlName="slug" class="form-control" (keyup)="generateSlug(form.controls['slug'].value)">
            <div class="input-group-append">
              <button type="button" class="btn btn-sm btn-primary" (click)="saveSlug()">Ok</button>
            </div>
          </div>

        </div>


        <div class="form-group">
          <input type="text" formControlName="description" class="form-control" placeholder="Descrição curta" [ngClass]="[form.controls['description'].invalid && (form.controls['description'].dirty || form.controls['description'].touched) ? 'is-invalid' : '']">
        </div>

        <div class="editor-wrap">
          <app-editor [target]="form.controls['content']" [disabled]="editor" (outputData)="setContent($event)"></app-editor>
        </div>


        <div class="card mb-3 mt-3">
          <div class="card-header">
            <i class="fa fa-sitemap"></i> Otimização de SEO
          </div>
          <div class="card-body">

            <div class="form-group">
              <label for="">Titulo</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control form-control-sm" formControlName="seo_title">
              </div>
            </div><!-- /form-group -->

            <div class="form-group">
              <label for="">Descrição</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control form-control-sm" formControlName="seo_description">
              </div>
            </div><!-- /form-group -->

          </div>
        </div><!-- /.card-seo -->

      </div> <!-- /.col -->

      <div class="col-12 col-md-3">

        <div class="card mb-3">

          <div class="wrap-image">
            <div class="no-image cover-bg text-center d-flex justify-content-center align-items-center" style="height: 150px; background-color: #f7f7f7;" [style.backgroundImage]="[OBJ_COVER ? 'url('+OBJ_COVER.sizes.medium+')' : 'none']">
              <span *ngIf="!OBJ_COVER"><i class="fa fa-image"></i> SEM CAPA</span>
            </div>
          </div>

          <div class="card-body">
            <p class="card-text">
              <button type="button" (click)="editCover()" class="btn btn-sm btn-success"><i class="fa fa-edit"></i> Editar</button>
              <button type="button" (click)="removeCover()" class="btn btn-sm btn-danger ml-2"><i class="fa fa-trash"></i> Remover</button>
            </p>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-body">

            <div class="form-group">
              <label for="">Status:</label>
              <select name="" id="" class="form-control form-control-sm" formControlName="status">
                <option value="1">Publicado</option>
                <option value="0">Rascunho</option>
              </select>
            </div>


            <div class="form-group">
              <label for="">Destaque:</label>
              <select name="" id="" class="form-control form-control-sm" formControlName="highlighted">
                <option value="1">Sim</option>
                <option value="0">Não</option>
              </select>
            </div>



            <div class="form-group">
              <label for="">Data de publicação:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <button class="btn btn-sm btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                </div>
                <input class="form-control form-control-sm" placeholder="dd-mm-yyyy" name="d" [(ngModel)]="PUBLISHED_AT" [ngModelOptions]="{standalone: true}" ngbDatepicker #d="ngbDatepicker">
              </div>
            </div>

            <div class="row">

              <div class="form-group col-6">
                <label>Hora</label>
                <select class="form-control form-control-sm" formControlName="published_at_hour">
                  <option *ngFor="let n of HOURS, let i = index" [value]="i">{{i < 10 ? '0' + i : i}}</option>
                </select>
              </div>

              <div class="form-group col-6">
                <label>Minutos</label>
                <select class="form-control form-control-sm" formControlName="published_at_minutes">
                  <option *ngFor="let n of MINUTES, let i = index" [value]="i">{{i < 10 ? '0' + i : i}}</option>
                </select>
              </div>
            </div>

          </div>
        </div><!-- /.card-publicação -->

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Relacionamentos:</h5>

            <div class="form-group">
              <label for="">Categoria:</label>
              <select class="form-control form-control-sm" formControlName="category">
                <option [value]="0">-- SELECIONAR --</option>
                <option [value]="cat.data.id" *ngFor="let cat of CATEGORIES">{{cat.data.title}}</option>
              </select>
              <button type="button" class="btn btn-sm btn-outline-primary mt-2" (click)="addTaxonomy('category')"><i class="fa fa-plus"></i> Gerenciar Categorias</button>
            </div>
            <hr>

            <div class="form-group">
              <label for="">Tags:</label><br>

              <div class="mb-3" style="font-size: 1.1em;" *ngIf="OBJ_TAGS.length">
                <a href="javascript:void(0)" *ngFor="let itemTag of OBJ_TAGS" (click)="removeTagFromPost(itemTag)" class="badge badge-pill badge-primary m-1"><i class="fa fa-times-circle"></i> {{ !!getTagInfo((itemTag.taxonomy_id || itemTag.id)) ? getTagInfo((itemTag.taxonomy_id || itemTag.id)).title : "---"}}</a>
              </div>

              <div class="input-group" *ngIf="TAGS.length">
                <select class="form-control form-control-sm" formControlName="tags" (change)="addTagToPost()">
                  <option [value]="0">-- SELECIONAR --</option>
                  <option [value]="tag.data.id" *ngFor="let tag of TAGS_AVAILABLE">{{tag.data.title}}</option>
                </select>
              </div>

              <button type="button" class="btn btn-sm btn-outline-primary mt-2" (click)="addTaxonomy('tag')"><i class="fa fa-plus"></i> Gerenciar Tags</button>

            </div>

          </div><!-- /.card-body -->
        </div>



      </div>

    </div><!-- /.row -->

    <div class="row mt-3">
      <div class="col-12 text-right">
        <hr>
        <button class="btn btn-sm btn-outline-danger mr-2" type="button" *ngIf="MODE == 'edit'" (click)="delete()"><i class="fa fa-trash"></i> Deletar</button>

        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-sm btn-primary" type="button" ngbDropdownToggle><i class="fa fa-save"></i> Salvar</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button type="button" (click)="save(form, true)" class="dropdown-item">Salvar e sair</button>
            <button *ngIf="MODE == 'edit'" type="button" (click)="save(form)" class="dropdown-item">Salvar e continuar editando</button>
          </div>
        </div>


      </div>
    </div><!-- /row:actions -->

  </div><!--/.container -->

  </form>
</section>

<app-media *ngIf="SHOW_MODAL_MEDIA" (imageData)="getImage($event)" (dismissAction)="SHOW_MODAL_MEDIA = false"></app-media>
<app-taxonomy *ngIf="SHOW_MODAL_TAXONOMY" (outputData)="setTax($event)" [target]="postType.id" [type]="taxonomyMode" (dismissAction)="closeModalTax()"></app-taxonomy>
