<header class="navbar navbar-dark bg-dark">
  <span class="navbar-brand text-truncate">Galerias</span>
</header>

<div class="container-fluid">

  <div class="row mb-5 mt-5">
    <div class="col-12">
    <form [formGroup]="form" (ngSubmit)="create(form)">
      <div class="input-group">
          <input type="text" class="form-control" formControlName="title" placeholder="Nome da galeria" required>
          <div class="input-group-append">
            <button type="button" type="submit" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Criar galeria</button>
          </div>
      </div>
      </form>
    </div>
  </div>

  <div class="row mb-5 mt-5" *ngIf="!loaded">
    <div class="col-12">
      <div class="alert alert-info text-center" role="alert">
        <i class="fa fa-cog fa-spin fa-fw"></i>
        <span>Carregando...</span>
      </div> <!-- /.alert -->
    </div> <!-- /.col -->
  </div> <!-- /.row -->


  <div class="row mb-5 mt-5" *ngIf="loaded && items">
    <div class="col-12">

      <ul class="list-group">
        <li class="list-group-item list-group-item-action flex-column align-items-start mb-2" *ngFor="let item of items">

          <div class="d-flex w-100 justify-content-between align-items-center" *ngIf="!item.edit">
            <div>
              <h5 class="mb-1">{{item.title}}</h5>
              <small><code>{{item.slug}}</code></small>
            </div>

            <div style="height: 100%;">
              <button href="javascript:void(0);" class="btn btn-sm btn-primary" (click)="item.edit = true"><i class="fa fa-edit"></i> Editar</button>
              <a href="javascript:void(0);" class="btn btn-sm btn-success ml-1" [routerLink]="'/gallery/'+item.slug"><i class="fa fa-check"></i> Selecionar</a>
            </div>
          </div>

          <div class="d-flex w-100 justify-content-between align-items-center" *ngIf="item.edit">
            <div>
              <input type="text" class="form-control w-100" [(ngModel)]="item.title">
            </div>

            <div style="height: 100%;">
              <button href="javascript:void(0);" class="btn btn-sm btn-success" (click)="update(item)"><i class="fa fa-save"></i> Salvar</button>
              <button href="javascript:void(0);" class="btn btn-sm btn-primary ml-1" (click)="item.edit = false">Cancelar</button>
              <button href="javascript:void(0);" class="btn btn-sm btn-danger ml-1" (click)="delete(item.id)"><i class="fa fa-trash"></i> Deletar</button>
            </div>
          </div>

      </ul>

    </div><!-- /.col -->
  </div><!-- /.row -->

</div>
