<header class="navbar navbar-dark bg-dark">
  <span class="navbar-brand text-truncate">Redirects</span>
  <div class="d-inline-block">
    <button class="btn btn-danger ml-2" type="button">
      <i class="fa fa-chevron-left"></i> Cancelar
    </button>
  </div>
</header>

<section class="mt-3 mb-3">
  <div class="container-fluid">

    <div class="row mb-2">
      <div class="col-4">URL de entrada:</div>
      <div class="col-4">Destino:</div>
      <div class="col-2">Tipo</div>
    </div>

    <div class="row mb-2" *ngFor="let item of ITEMS; let i = index">
      <div class="col-4"><input type="text" class="form-control"></div>
      <div class="col-4"><input type="text" class="form-control"></div>
      <div class="col-2">
        <select name="" id="" class="form-control">
          <option value="302">(302) Temporario</option>
          <option value="301">(301) Permanente</option>
        </select>
      </div>
      <div class="col-2">
        <button class="btn btn-danger" (click)="remove(i)"><i class="fa fa-times"></i></button>
      </div>
    </div>

    <div class="row">
      <div class="col-5">
        <button type="button" class="btn btn-success"><i class="fa fa-save"></i> Salvar</button>
        <button type="button" class="btn btn-primary ml-2" (click)="add()"><i class="fa fa-plus"></i> Add Redirect</button>
      </div>
    </div>

  </div>
</section>
