<ul class="nav">
  <li>
    <a href="http://footstats.net/campeonatos">Torneios</a>
  </li>
  <li>
    <a href="http://footstats.net/stats-equipe">Equipes</a>
  </li>
  <li>
    <a href="http://footstats.net/partidas">Calendário de Jogos</a>
  </li>
  <li>
    <a href="http://footstats.net/stats-jogador">Jogadores</a>
  </li>
  <li>
    <a href="{{data._SITE_URL}}/posts">Notícias</a>
  </li>
  <li>
    <a href="{{data._SITE_URL}}">Mercado da Bola</a>
  </li>
  <li>
    <a href="{{data._SITE_URL}}">Estatísticas</a>
  </li>

  {# 
  <li>
    <a href="javascript:void(0);" class="has-sub">Esportes <i class="fa fa-caret-down"></i></a>
    <ul>
      <li><a href="{{data._SITE_URL}}/futebol">Futebol</a></li>
      <li><a href="{{data._SITE_URL}}/basquete">Basquete</a></li>
    </ul>
  </li>

  <li>
    <a href="javascript:void(0);" class="has-sub">Tabelas e Resultados <i class="fa fa-caret-down"></i></a>

    <ul>
      <li><a href="#">Item 1</a></li>
      <li><a href="#">Item 2</a></li>
      <li><a href="#">Item 3</a></li>
    </ul>
  </li>

  <li>
    <a href="javascript:void(0);" class="has-sub">Mercado de Transferências <i class="fa fa-caret-down"></i></a>

    <ul>
      <li><a href="#">Item 1</a></li>
      <li><a href="#">Item 2</a></li>
      <li><a href="#">Item 3</a></li>
    </ul>
  </li>

  <li>
    <a href="javascript:void(0);" class="has-sub">Apostas Esportivas <i class="fa fa-caret-down"></i></a>

    <ul>
      <li><a href="#">Item 1</a></li>
      <li><a href="#">Item 2</a></li>
      <li><a href="#">Item 3</a></li>
    </ul>
  </li> #}

  {# for item in data._SITE_CONFIG.post_types %}
  <li>
    <a href="{{data._SITE_URL}}/{{item.prefix}}">{{item.title}}</a>
  </li>
  {% endfor #}


</ul>
