<!DOCTYPE html>
<html lang="pt-br">
  <head>
  <title>{{ data._SITE.seo.title ? data._SITE.seo.title ~ ' | ' ~ data._SITE.config.sitename : data._SITE.config.sitename }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5">
  <meta name="description" content="{{ data._SITE.seo.description }}" />
  <meta name="format-detection" content="telephone=no">
  <!-- open graph -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ data._SITE.seo.title ? data._SITE.seo.title : data._SITE.config.sitename }}" />
  <meta property="og:description" content="{{ data._SITE.seo.description  }}" />
  <meta property="og:site_name" content="{{data._SITE.config.sitename}}" />
  <meta property="og:locale" content="{{ lang }}" />
  <meta property="og:url" content="{{data._CANONICAL_URL}}" />
  <meta property="og:image" content="{{ data._SITE.seo.cover ? data._SITE.seo.cover : ""  }}">
  <!-- twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:description" content="{{ data._SITE.seo.description }}" />
  <meta name="twitter:title" content="{{ data._SITE.seo.title ? data._SITE.seo.title : data._SITE.config.sitename }}" />
  <meta name="twitter:site" content="@" />
  <!-- links -->
  <link rel="stylesheet" href="{{data._SITE_URL}}/assets/css/style.css">
  <!-- browser config -->
  <link rel="apple-touch-icon" sizes="57x57" href="{{data._SITE_URL}}/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{data._SITE_URL}}/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{data._SITE_URL}}/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{data._SITE_URL}}/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{data._SITE_URL}}/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{data._SITE_URL}}/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{data._SITE_URL}}/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{data._SITE_URL}}/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{data._SITE_URL}}/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{data._SITE_URL}}/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{data._SITE_URL}}/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{data._SITE_URL}}/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{data._SITE_URL}}/favicon-16x16.png">
  <link rel="manifest" href="{{data._SITE_URL}}/manifest.json">
  <meta name="msapplication-TileColor" content="#f7f7f7">
  <meta name="msapplication-TileImage" content="{{data._SITE_URL}}/ms-icon-144x144.png">
  <meta name="theme-color" content="#f7f7f7">
  {% block head %}{% endblock %}
  </head>
  <body data-page="{{pageClass|default('default')}}" class="page-{{pageClass|default('default')}}">

    {% include "@main/layout/_header.twig" %}

    <div class="app-wrap">
      {# include "../shared/header.twig" #}
      <main id="content">
      {% block content %}{% endblock %}
      </main>
      {# include "../shared/footer.twig" #}
    </div><!-- /.app-wrap -->

    {% block floating %}{% endblock %}

    <script defer src="{{data._SITE_URL}}/assets/js/script.js"></script>

    <div id="fb-root"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script async>
      WebFont.load({
        google: {
          families: ['Rubik:300,400,500,700']
        }
      });

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.2&appId=347773806048706&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    </script>
  </body>
</html>
