<header class="navbar navbar-dark bg-dark">
  <span class="navbar-brand text-truncate">Não Encontrado</span>
  <div class="d-inline-block">
    <a href="javascript:void(0);" class="btn btn-success ml-2" (click)="back();">
      <i class="fa fa-chevron-left"></i> Voltar
    </a>
  </div>
</header>


<div class="container-fluid">
  <div class="row mb-5 mt-5">
    <div class="col-12">
      <div class="alert alert-danger text-center" role="alert">
        Página não encontrada.
      </div> <!-- /.alert -->
    </div> <!-- /.col -->
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <a href="javascript:void(0);" class="btn btn-success ml-2" (click)="back();">
        <i class="fa fa-chevron-left"></i> Voltar
      </a>
    </div>
  </div>
</div>
