<div class="shadow" (click)="dismiss()"></div>

<section class="content">
  <header class="navbar navbar-dark bg-dark">
    <span class="navbar-brand text-truncate">Taxonomy</span>
    <div class="d-inline-block">
      <button class="btn btn-danger ml-2" (click)="dismiss()" type="button">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </header>


<section class="container-fluid">

  <div class="row mb-5 mt-5">
    <div class="col-12">
    <form [formGroup]="form" (ngSubmit)="create(form)">
      <div class="input-group">
          <input type="text" class="form-control" formControlName="title" placeholder="Nome do item" required>
          <div class="input-group-append">
            <button type="button" type="submit" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Criar item</button>
          </div>
      </div>
      </form>
    </div>
  </div>

  <div class="row mb-5 mt-5" *ngIf="!loaded">
    <div class="col-12">
      <div class="alert alert-info text-center" role="alert">
        <i class="fa fa-cog fa-spin fa-fw"></i>
        <span>Carregando...</span>
      </div> <!-- /.alert -->
    </div> <!-- /.col -->
  </div> <!-- /.row -->


  <div class="row mb-5 mt-5" *ngIf="loaded && items">
    <div class="col-12">

      <ul class="list-group">
        <li class="list-group-item list-group-item-action flex-column align-items-start mb-2" *ngFor="let item of items">

          <div class="d-flex w-100 justify-content-between align-items-center" *ngIf="!item.edit">
            <div>
              <h5 class="mb-1">{{item.data.title}}</h5>
              <small><code>{{item.data.slug}}</code></small>
            </div>

            <div style="height: 100%;">
              <button href="javascript:void(0);" class="btn btn-sm btn-primary" (click)="item.edit = true"><i class="fa fa-edit"></i> Editar</button>
              <button href="javascript:void(0);" class="btn btn-sm btn-success ml-1" (click)="selectItem(item.data)"><i class="fa fa-check"></i> Selecionar</button>
            </div>
          </div>

          <div class="d-flex w-100 justify-content-between align-items-center" *ngIf="item.edit">
            <div>
              <input type="text" class="form-control w-100" [(ngModel)]="item.data.title">
            </div>

            <div style="height: 100%;">
              <button href="javascript:void(0);" class="btn btn-sm btn-success" (click)="update(item.data)"><i class="fa fa-save"></i> Salvar</button>
              <button href="javascript:void(0);" class="btn btn-sm btn-primary ml-1" (click)="item.edit = false">Cancelar</button>
              <button href="javascript:void(0);" class="btn btn-sm btn-danger ml-1" (click)="delete(item.data.id)"><i class="fa fa-trash"></i> Deletar</button>
            </div>
          </div>

      </ul>

    </div><!-- /.col -->
  </div><!-- /.row -->


</section>

</section><!-- /.content -->
