:host {

  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  background: rgba(0,0,0,.8);
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  -webkit-animation: FADE .2s 1; /* Safari 4+ */
  -moz-animation:    FADE .2s 1; /* Fx 5+ */
  -o-animation:      FADE .2s 1; /* Opera 12+ */
  animation:         FADE .2s 1; /* IE 10+, Fx 29+ */
  padding: 3em;
  overflow: auto;

}

.shadow {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content {
  display: block;
  background: white;
  overflow: auto;
  width: 100%;
  max-height: 100%;
  max-width: 1200px;
  min-height: 500px;
  // max-width: 750px;
  max-height: calc(100vh - 3em);
}

@-webkit-keyframes FADE {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes FADE {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes FADE {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes FADE {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
