<header class="navbar navbar-dark bg-dark">
  <span class="navbar-brand text-truncate">{{ MODE == 'edit' ? 'Editar Usuário' : 'Novo Usuário' }}</span>
  <div class="d-inline-block">
    <button class="btn btn-danger ml-2" (click)="cancel()" type="button">
      <i class="fa fa-chevron-left"></i> Cancelar
    </button>
  </div>
</header>

<section class="mt-3 mb-3" *ngIf="loaded">
  <form (ngSubmit)="save(form)" [formGroup]="form" (keydown.enter)="$event.preventDefault()">
    <div class="container-fluid">

      <div class="row mb-3">
        <div class="col-12">
          <button class="btn btn-outline-primary" type="button" type="button" (click)="save(form, true)"><i class="fa fa-save"></i> Salvar</button>
          <button *ngIf="MODE == 'edit'" class="btn btn-outline-danger ml-2" type="button" (click)="delete()"><i class="fa fa-trash"></i> Deletar</button>
          <hr>
        </div>
      </div><!-- /row:actions -->


    <div class="row">
      <div class="col-12 col-md-8">

        <div class="form-group">
          <input type="text" formControlName="name" class="form-control form-control-lg mb-2" placeholder="Nome"
          [ngClass]="[form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched) ? 'is-invalid' : '']">
        </div>

        <div class="form-group">
          <input type="text" formControlName="email" class="form-control form-control-lg mb-2" placeholder="E-mail"
          [ngClass]="[form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched) ? 'is-invalid' : '']">
        </div>

        <div class="form-group">
          <input type="text" formControlName="front_role" class="form-control form-control-lg mb-2" placeholder="Cargo">
        </div>

        <div class="form-group">
          <textarea formControlName="bio" class="form-control form-control-lg mb-2" placeholder="Biografia Curta" maxlength="255"></textarea>
        </div>

      </div><!-- /.col -->


      <div class="col-12 col-md-4">

        <div class="card mb-3">
          <div class="card-header">
            <h5>Permissão</h5>
          </div>
          <div class="card-body">

            <div class="form-group">
              <select class="form-control" formControlName="role">
                <option [value]="role" *ngFor="let role of ROLES">{{role}}</option>
              </select>
            </div>
          </div>
        </div><!-- /.card -->

        <div class="card mb-3">
          <div class="card-header">
            <h5>Status</h5>
          </div>
          <div class="card-body">

            <div class="form-group">
              <select class="form-control" formControlName="active">
                <option value="0">Desativado</option>
                <option value="1">Ativo</option>
              </select>
            </div>
          </div>
        </div><!-- /.card -->

        <div class="card">
          <div class="card-header">
            <h5>Senha</h5>
            <small>Prencha apenas se for atualizar.</small>
          </div>
          <div class="card-body">

            <div class="form-group">
              <input type="password"  autocomplete="new-password" class="form-control" placeholder="Nova Senha" formControlName="passwordA">
            </div>

            <div class="form-group">
              <input type="password"  autocomplete="new-password" class="form-control" placeholder="Repetir Senha" formControlName="passwordB">
            </div>

          </div>
        </div><!-- /.card -->


      </div><!-- /.col -->
    </div><!-- /.row -->



      <div class="row mb-3">
        <div class="col-12 text-right">

          <hr>
          <button *ngIf="MODE == 'edit'" class="btn btn-outline-danger mr-2" type="button" (click)="delete()"><i class="fa fa-trash"></i> Deletar</button>
          <button class="btn btn-outline-primary" type="button" type="button" (click)="save(form, true)"><i class="fa fa-save"></i> Salvar</button>
        </div>
      </div><!-- /row:actions -->

    </div>
  </form>
</section>
