{% extends "layout/main.twig" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-12">
      
      <h1>404 - Não encontrado</h1>

      <form action="/buscar" method="get">
        <input type="text" placeholder="Buscar" name="s" value="">
        <button type="submit">Ir</button>
      </form>
      
    </div>
  </div>
</div>

{% endblock %}
