{% extends "layout/main.twig" %}
{% set isHome = true %}
{% set header_transparent = true %}
{% set pageClass = "home" %}

{% block content %}

<section class="home-infinity-scroll" data-pages="{{data.posts.pages}}" data-current="{{data.page}}">

  <div class="container">
    <div class="row">
      <div class="col-12 pt-2 pb-2">
        {% for post in data.posts.docs.slice(0,1) %}
        {% include "shared/card/news.twig" with { post: post } %}
        {% endfor %}
      </div>
    </div>
    <div class="row row-items">
      {% for post in data.posts.docs.slice(1, data.posts.docs.length) %}
      <div class="col-12 col-md-6 pt-2 pb-2">
        {% include "shared/card/news.twig" with { post: post } %}
      </div>
      {% endfor %}
    </div>

    <div class="row home-loading-pointer">
      <div class="col-12 text-center">
        
        <div class="pt-5 pb-5">
          <a href="#" class="btn btn-secondary btn-loadmore">
            <span>Carregar mais <i class="fa fa-plus"></i><span>
          </a>
        </div>

      </div>
    </div>
  </div>
</section>

{% endblock %}
