<a href="{{post.getLink()}}" class="cardnews mt-3 mb-3">
  <div class="cardnews__cover">
    <div class="cardnews__cover__image lazy" data-src="{{ post.getCover("medium") }}"></div>
    <div class="cardnews__cover__blur lazy" data-src="{{ post.getCover("medium") }}"></div>
  </div>

  <h4 class="cardnews__title font-primary">
    {{post.data.title|truncate(140)}}
  </h4>
  {{post.published_date}}
  <div class="cardnews__description">
    <p>
      {{post.getDescription()|striptags|truncate(140)}}
    </p>
  </div>
  <div class="cardnews__footer"><p><i class="fa fa-clock-o"></i> {{post.getDate('LLL')}}</p></div>
</a>
