<section class="cardsection">
  <div class="cardsection-head font-primary text-uppercase">
    {{title}}
  </div>
  <div class="cardsection-content">
    {% for post in posts %}

      <div class="item">
        <a href="{{post.getLink()}}" class="lazy cover" data-src="{{ post.getCover("thumb") }}"></a>
        <div class="text">
          <a href="{{post.getCategory().getLink()}}" class="cat"><em>{{post.getCategory().data.title}}</em></a><br>
          <a href="{{post.getLink()}}" class="title font-primary">
            {{post.data.title|truncate(80)}}
          </a>
        </div>
      </div><!-- /.item -->

    {% endfor %}
  </div><!-- /.cardsection-head -->
  
  <div class="cardsection-footer">
    <a href="{{slug}}">Mais Notícias de {{title}} <i class="fa fa-arrow-right"></i></a>  
  </div><!-- /.cardsection-footer -->

</section><!-- /.cardsection -->

