<header class="navbar navbar-dark bg-dark">
  <span class="navbar-brand text-truncate">Editar chave</span>
  <div class="d-inline-block">
    <button class="btn btn-danger ml-2" routerLink="/settings" type="button">
      <i class="fa fa-chevron-left"></i> Voltar
    </button>
  </div>
</header>

<section class="mt-3 mb-3" *ngIf="loaded">
  <form (ngSubmit)="save(form)" [formGroup]="form" (keydown.enter)="$event.preventDefault()">

  <div class="container-fluid">
    <div class="row mb-3">
      <div class="col-12">
        <button class="btn btn-primary" (click)="save(form, true)"><i class="fa fa-save"></i> Salvar</button>
        <button class="btn btn-danger ml-2" (click)="cancel()"><i class="fa fa-ban"></i> Cancelar</button>
        <button *ngIf="MODE == 'edit' && DATA.custom_type == 1" class="btn btn-default ml-2" type="button" (click)="delete()"><i class="fa fa-trash"></i> Deletar</button>
        <hr>
      </div>
    </div><!-- /row:actions -->

    <div class="row">

      <div class="col-12 col-md-8">

        <div class="form-group">
          <input type="text" formControlName="key_name" (blur)="generateSlug()" class="form-control form-control-lg mb-2" placeholder="Título"
          [ngClass]="[form.controls['key_name'].invalid && (form.controls['key_name'].dirty || form.controls['key_name'].touched) ? 'is-invalid' : '']" [readonly]="DATA.custom_type == 0">
        </div>


        <div class="form-group">
          <input type="text" formControlName="key_slug" placeholder="Chave" class="form-control" (blur)="generateSlug(form.controls['key_slug'].value)"  [readonly]="DATA.custom_type == 0 || MODE == 'edit'">
        </div><!-- /.form-group -->

        <div class="form-group">
          <input type="text" formControlName="key_value" class="form-control form-control-lg mb-2" placeholder="Valor"
          [ngClass]="[form.controls['key_value'].invalid && (form.controls['key_value'].dirty || form.controls['key_value'].touched) ? 'is-invalid' : '']">
        </div>


      </div><!-- /.col -->
    </div><!-- /.row -->


    <div class="row mb-3">
      <div class="col-12">
        <hr>
        <button class="btn btn-primary" (click)="save(form, true)"><i class="fa fa-save"></i> Salvar</button>
        <button class="btn btn-danger ml-2" (click)="cancel()"><i class="fa fa-ban"></i> Cancelar</button>
        <button *ngIf="MODE == 'edit' && DATA.custom_type == 1" class="btn btn-default ml-2" type="button" (click)="delete()"><i class="fa fa-trash"></i> Deletar</button>
      </div>
    </div><!-- /row:actions -->

  </div><!-- /.container-fluid -->

  </form>

</section>
