#footer {
  color: map-get($colors, default-invert);
  background: map-get($colors, default);
  
  @media screen and (min-width: map-get($breakpoints, md)) {
    background: url(../img/bg-main-footer.jpg) no-repeat;
    background-size: cover;
  }
}

.main-footer {
  padding: 1rem 0;
  background: url(../img/footer-bg-mobile@2x.png) no-repeat;
  background-size: cover;
  background-position: top center;

  @media screen and (min-width: map-get($breakpoints, md)) {
    background: none;
    padding: 34px 0;

    .main-footer__secondary-wrap {
      max-width: 290px;
      margin: 0 auto;
    }
  }

  .main-footer__nav {
    padding: 25px 0;

    .nav {
      padding: 0;
      margin: 0 auto;
      max-width: 310px;
      grid-gap: 0 .5rem;
      list-style: none;
      display: grid;
      grid-template-columns: auto auto;
      font-size: 18px;
      align-items: center;

      a {
        color: white;
        line-height: 1.2em;
        font-weight: 400;
      }
    }

    @media screen and(min-width: map-get($breakpoints, md)) {
      padding: 0 0;
    }
  }

  .nav-social {
    padding: 0;
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;


    @media screen and (min-width: map-get($breakpoints, md)) {
      justify-content: space-between;
    }

    a {
      font-size: 28px;
      color: map-get($colors, accent);
    }
  }

  .main-footer__sponsor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 0;

    .main-footer__sponsor__logo {
      width: 124px;
      height: 42px;
      display: inline-block;
      margin: 0 auto;
      text-indent: -999px;
      vertical-align: top;
      overflow: hidden;
      background: url('../img/betsul-footer.png') no-repeat center center;
      background-size: 100% auto;

    }

    .main-footer__sponsor__text {
      color: white;
      font-size: 14px;
      line-height: 26px;
      display: inline-block;
      vertical-align: top;
      margin: 0;
    }

    @media screen and (min-width: map-get($breakpoints, md)) {
      flex-direction: row;
      justify-content: flex-start;

      .main-footer__sponsor__logo {
        margin: 0 1rem 0 0;
      }

      .main-footer__sponsor__text {
        width: 90px;
        line-height: 1.2em;
      }

    }

  }//.main-footer__sponsor 

  .main-footer__apps {
    width: 100%;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      flex-direction: row;


      
      li {
        margin-right: .8rem;

        &:last-child { margin-right: 0; }
      } 

      a {
        display: block;
        width: 135px;
        height: 40px;
        background: #000;
        overflow: hidden;
        text-indent: -999px;
        border-radius: 4px;
        background-size: 135px 40px;
        background-repeat: no-repeat;
        background-position: center center;

        &.footer__apps__appstore { background-image: url('../img/footer-appstore.jpg'); }
        &.footer__apps__googleplay { background-image: url('../img/footer-googleplay.jpg'); }
      } //a
    }//ul

    @media screen and (min-width: map-get($breakpoints, md)) {
      ul { justify-content: space-between; }
      ul li { margin-right: 0; }
    }

  }//.main-footer__apps

}

.main-footer__logo {
  display: block;
  width: 172px;
  height: 30px;
  background: url(../img/footer-logo.png) no-repeat center center;
  background-size: 100% auto;
  overflow: hidden;
  text-indent: -999px;
  margin: 0 auto;

  @media screen and (min-width: map-get($breakpoints, md)) {
    width: 285px;
    height: 50px;
    margin-bottom: convertSizeToRem(75, 16);
  }
}

.footer-copyrights {
  padding: 1em 0;

  hr {
    margin-top: convertSizeToRem(75, 16);
    margin-bottom: convertSizeToRem(55, 16);
    border: 0;
    width: 100%;
    display: block;
    height: 1px;
    background: map-get($colors, accent);
  }

  // @media screen and (min-width: map-get($breakpoints, md)) {
  // }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem;

    li {
      padding: 0 .5em;
      border-right: 1px solid white;
      &:last-child { border-right: 0; }

      a { color: map-get($colors, default-invert); }

    }
  }
}
