.main-header {
  width: 100%;
  top: 0;
  left: 0;
  height: 60px;
  position: fixed;
  background: map-get($colors, secondary);
  z-index: $zindex-header;
  box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.5);
  color: map-get($colors, default-invert);
}

.main-header__wrap {
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  grid-row: 60px;
  align-items: center;
  justify-content: center;
  grid-gap: .8rem;
  width: 100%;
  height: 60px;

  @media screen and (min-width: 992px) {
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;

    grid-template-columns: 1fr 2fr 1fr 1fr;
  }

}

.main-header__button {
  @extend %btn;
  height: 60px;
  background: transparent;
  color: map-get($colors, 'accent');
  font-size: 33px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover, &:focus {
    color: map-get($colors, 'accent');
    text-decoration: none;
  } 
}


.main-header__logo {
  display: inline;
  margin: 0;

  a {
    display: block;
    width: 171px;
    height: 30px;
    background: #ccc;
    margin: 0 auto;
    overflow: hidden;
    text-indent: -999px;
    background: url(../img/logo@2x.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;

    @media screen and (min-width: 992px) {
      margin: 0;
    }
  }
}

.main-header__searchbar {
  width: 100%;
  margin: 10px 0;

  .main-header__searchbar__inputwrap {
    position: relative;
    width: 100%;
    height: 40px;
  }

  .main-header__searchbar__icon {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    user-select: none;
    pointer-events: none;
    z-index: 0;
  }

  .main-header__searchbar__input {
    appearance: none;
    border: 0;
    background: transparent;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    padding-left: 40px;
    z-index: 1;
    color: map-get($colors, default-invert);

  }
}

.main-header__user {
  width: 100%;

  .main-header__user__wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
  }

  .main-header__user__avatar {
    width: 46px;
    height: 46px;
    background: map-get($colors, accent);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 16px;
  }

  .main-header__user__info {
    width: 110px;
  }

  .main-header__user__name {
    font-weight: 300;
    font-size: 13px;
    line-height: 1.2em;
    @include trimText;
  }

  .main-header__user__status {
    text-transform: uppercase;
    line-height: 1.2em;
    font-weight: 500;
    color: rgba(#fff, .2);
    font-size: 11px;
    @include trimText;
  }

  .main-header__user__button {
    @extend %btn;
    background: transparent;
    color: map-get($colors, default-invert);
    font-size: 14px;
  }
}


.main-header__user-notify {

  .main-header__user-notify__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-header__user-notify__button {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    color: map-get($colors, default-invert);
    background: map-get($colors, secondary);
    border-radius: $border-radius;
    border: 1px solid rgba(255, 255, 255, .1);
    margin: 0 5px;

    &:hover, &focus {
      text-decoration: none;
    }

    &--active {
      color: map-get($colors, accent);
    }
  }
}
