.main-nav-mobile {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: $zindex-header - 1;
  pointer-events: none;
  opacity: 0;
  transition: .2s all linear;

  .main-nav-mobile__shadow {
    position: absolute;
    z-index: 0;
    background: rgba(0,0,0, .3);
    width: 100%;
    height: 100%;
  }

  .main-nav-mobile__wrap {
    width: 100%;
    max-width: 345px;
    height: 100%;
    padding-top: $header-height;
    background: rgba(map-get($colors, accent), .9);
    position: absolute;
    z-index: 1;
    overflow-y: auto;
    transform: translate(-345px);
    transition: .2s all linear;

    .nav {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: block;
        border-bottom: 1px solid rgba(0,0,0,.1);

        a {
          display: block;
          padding: 5px 36px;
          font-weight: 400;
          color: #1d1d1b;
          font-size: 18px;
        }
      }
    }
  }

  .main-nav-mobile__user {
    width: 100%;
    background: #2a261a;
    color: white;
    height: 60px;
  }
}


body.main-mobile-nav-open {
  .main-nav-mobile {
    opacity: 1;
    pointer-events: initial;
    .main-nav-mobile__wrap { transform: translate(0); }
  }
}
