.main-nav {
  position: fixed;
  width: 100%;
  height: 28px;
  top: $header-height;
  background: map-get($colors, accent);
  z-index: $zindex-header - 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

  .main-nav__wrap {
    width: 100%;
    max-width: map-get($breakpoints, lg);
    margin: 0 auto;
  }

  .nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 28px;

    a { 
      color: map-get($colors, secondary); 
      font-weight: 500;
      font-size: 0.88rem;
    }
  }
}
