<header class="navbar navbar-dark bg-dark" *ngIf="areaConfig.title">
  <span class="navbar-brand text-truncate">{{MODE == "new" ? 'Novo' : 'Editar' }} item de {{areaConfig.title}}</span>
  <div class="d-inline-block">
    <button class="btn btn-danger ml-2" (click)="cancel()" type="button">
      <i class="fa fa-chevron-left"></i> Cancelar
    </button>
  </div>
</header>


<section class="mt-3 mb-3" *ngIf="loaded && areaConfig">
  <form (ngSubmit)="save(form)" [formGroup]="form" (keydown.enter)="$event.preventDefault()">

    <div class="container-fluid">

    <div class="row mb-3">
      <div class="col-12">

        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" type="button" type="button" ngbDropdownToggle><i class="fa fa-save"></i> Salvar</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" type="button" (click)="save(form, true)">Salvar e sair</button>
            <button class="dropdown-item" type="button" *ngIf="MODE == 'edit'" (click)="save(form)">Salvar e continuar editando</button>
          </div>
        </div>

        <button *ngIf="MODE == 'edit'" class="btn btn-outline-danger ml-2" type="button" (click)="delete()"><i class="fa fa-trash"></i> Deletar</button>

        <hr>

      </div>
    </div><!-- /row:actions -->


    <div class="row">

      <div class="col-12 col-md-8">

        <div class="form-group">
          <input type="text" formControlName="title" class="form-control form-control-lg mb-2" placeholder="Título"
          [ngClass]="[form.controls['title'].invalid && (form.controls['title'].dirty || form.controls['title'].touched) ? 'is-invalid' : '']">
        </div>

        <div clas="custom-input" [formGroup]="inputs" *ngFor="let input of areaConfig.inputs">

          <div class="form-group" *ngIf="input.type == 'text'">
            <input type="text" class="form-control mb-2" [formControlName]="input.key" [placeholder]="input.name" [ngClass]="[inputs.controls[input.key].invalid && (inputs.controls[input.key].dirty || inputs.controls[input.key].touched) ? 'is-invalid' : '']">
          </div>

          <div class="form-group" *ngIf="input.type == 'textarea'">
            <textarea name="" class="form-control" id="" [formControlName]="input.key" [placeholder]="input.name" cols="30" rows="10" [ngClass]="[inputs.controls[input.key].invalid && (inputs.controls[input.key].dirty || inputs.controls[input.key].touched) ? 'is-invalid' : '']" [maxlength]="input.maxlength"></textarea>
          </div>

          <div class="form-group" *ngIf="input.type == 'select'">
            <label for="">{{input.name}}:</label>
            <select name="" id="" class="form-control" [formControlName]="input.key" [ngClass]="[inputs.controls[input.key].invalid && (inputs.controls[input.key].dirty || inputs.controls[input.key].touched) ? 'is-invalid' : '']">
              <option *ngFor="let option of input.options" [value]="option.split(':')[1]">{{option.split(':')[0]}}</option>
            </select>
          </div>


          <div *ngIf="input.type == 'map'">
            <button ng-location-picker (onPickedLocation)="logPickedLocation($event, input)" class="btn btn-primary" type="button"><i class="fa fa-map"></i> {{input.name}}</button>

            <p *ngIf="inputs.controls[input.key].value">
              <a [href]="'https://maps.google.com/?q='+inputs.controls[input.key].value.lat+','+inputs.controls[input.key].value.lng" target="_blank">https://maps.google.com/?q={{inputs.controls[input.key].value.lat}},{{inputs.controls[input.key].value.lng}}</a>
            </p>

          </div>


        </div>



      </div> <!-- /.col -->

      <div class="col-12 col-md-4">

        <div class="card mb-3">
          <div class="card-body">

            <div class="form-group">
              <label for="">Status:</label>
              <select name="" id="" class="form-control" formControlName="status">
                <option value="1" ngDefaultControl>Ativo</option>
                <option value="0">Desativado</option>
              </select>
            </div>

            <div class="form-group">
              <label for="">Data de publicação:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                </div>
                <input class="form-control" placeholder="dd-mm-yyyy" name="d" [(ngModel)]="PUBLISHED_AT" [ngModelOptions]="{standalone: true}" ngbDatepicker #d="ngbDatepicker">
              </div>
            </div>

            <div class="row">

              <div class="form-group col-6">
                <label>Hora</label>
                <select class="form-control" formControlName="published_at_hour">
                  <option *ngFor="let n of HOURS, let i = index" [value]="i">{{i < 10 ? '0' + i : i}}</option>
                </select>
              </div>

              <div class="form-group col-6">
                <label>Minutos</label>
                <select class="form-control" formControlName="published_at_minutes">
                  <option *ngFor="let n of MINUTES, let i = index" [value]="i">{{i < 10 ? '0' + i : i}}</option>
                </select>
              </div>
            </div>

          </div>
        </div><!-- /.card-publicação -->

      </div>

    </div>


    <div class="row mt-3">
      <div class="col-12 text-right">
        <hr>
        <button class="btn btn-outline-danger mr-2" *ngIf="MODE == 'edit'" type="button" (click)="delete()"><i class="fa fa-trash"></i> Deletar</button>

        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" type="button" ngbDropdownToggle><i class="fa fa-save"></i> Salvar</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button type="button" (click)="save(form, true)" class="dropdown-item">Salvar e sair</button>
            <button type="button" *ngIf="MODE == 'edit'" (click)="save(form)" class="dropdown-item">Salvar e continuar editando</button>
          </div>
        </div>
      </div>
    </div><!-- /row:actions -->

    </div><!-- /.container -->

  </form>
</section>
