* { outline-color: map-get($colors, accent); }

body {
  font-size: map-get($fontsize, 'xs');
  font-family: sans-serif;
  color: map-get($colors, default);
  background: map-get($colors, 'background');
  // background: white;
  font-weight: 400;
}

html.wf-active body { font-family: map-get($fonts, primary); }


#content {
  padding-top: $header-height;
  min-height: 100vh;
  box-sizing: border-box;
  // overflow: hidden;

  @media screen and (min-width: #{map-get($breakpoints, 'md')}) {
    padding-top: $header-height+28;
  }
}



@each $key, $breakpoint in $breakpoints {

  @if( $key != "xs" ){
    @media screen and (min-width: $breakpoint) {
      body { font-size: map-get($fonts, $key); }
    }
  }
}


@media screen and (min-width: 768px) {
  body { font-size: 14px; }
}
