/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}


@each $key, $color in $colors {
  .color-site-#{$key},
  .color-site-#{$key}-hover:hover {
    color: $color !important;
  }

  .bg-site-#{$key},
  .bg-site-#{$key}-hover:hover {
    background-color: $color !important;
  }

  .border-site-#{$key} { border-color: $color !important; }

  .btn-site-#{$key} {
    background-color: $color !important;

    &:focus,
    &:hover { background-color: lighten($color, 10%) !important; }
  }
}

.color-white { color: white !important; }
