h1,
h2 { font-size: convertSizeToRem(28); line-height: 1.2em; }
h3 { font-size: convertSizeToRem(48); line-height: 1.2em; }

@media screen and (min-width: 992px) {
  h1,
  h2 { font-size: convertSizeToRem(75, $FONT_SIZE_HD); }
  h3 { font-size: convertSizeToRem(48, $FONT_SIZE_HD); }
}
