<header class="navbar navbar-dark bg-dark">
  <span class="navbar-brand text-truncate">Usuários</span>
  <div class="d-inline-block">
    <a href="javascript:void(0);" class="btn btn-success ml-2" routerLink="new">
      Novo
    </a>
  </div>
</header>

<div class="container-fluid">

  <div class="row mb-5 mt-5" *ngIf="!loaded">
    <div class="col-12">
      <div class="alert alert-info text-center" role="alert">
        <i class="fa fa-cog fa-spin fa-fw"></i>
        <span>Carregando...</span>
      </div> <!-- /.alert -->
    </div> <!-- /.col -->
  </div> <!-- /.row -->

  <div class="row" *ngIf="loaded && data">
    <div class="col-12">
        <div class="input-group mt-3">
          <input type="text" class="form-control" placeholder="Buscar" [formControl]="query">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button" (click)="load()" [disabled]="!query.value"><i class="fa fa-search"></i> Buscar</button>
            <button class="btn btn-danger" type="button" (click)="resetSearch()" *ngIf="query.value"><i class="fa fa-cross"></i> Resetar</button>
          </div>
        </div>
    </div>
  </div>


  <div class="row mt-3" *ngIf="loaded && data.pages">
    <div class="col-12 d-flex justify-content-between align-items-center">
      <p><strong>Pág.</strong> {{PAGE}} de {{data.pages}}</p>
      <div>
        <button class="btn btn-sm btn-primary d-inline-block" (click)="loadPosts(PAGE-1)" [disabled]="!(PAGE > 1)"><i class="fa fa-chevron-left"></i></button>
        <button class="btn btn-sm btn-primary d-inline-block ml-2" (click)="loadPosts(PAGE+1)" [disabled]="!(PAGE < data.pages)"><i class="fa fa-chevron-right"></i></button>
      </div>
    </div>
  </div>

  <div class="row mb-5 mt-5" *ngIf="loaded && !data.total">
    <div class="col-12">
      <div class="alert alert-danger text-center" role="alert">
        Nenhum item encontrado.
      </div> <!-- /.alert -->
    </div> <!-- /.col -->
  </div> <!-- /.row -->

  <div class="row mb-5 mt-5 card-deck" *ngIf="loaded && data.docs">
    <div class="col-12 col-md-4 mb-4" *ngFor="let item of data.docs">
      <div class="card" style="height: 100%; margin: 0 auto;">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">
            <small class="text-muted">
              <span class="badge badge-pill mr-2" [ngClass]="[item.active == 1 ? 'badge-success' : 'badge-danger']">{{item.active == 1 ? 'Ativo' : 'Desativado'}}</span> <i class="fa fa-key"></i> {{item.role}}</small>
          </p>
          <hr>
          <p>
            <i class="fa fa-envelope"></i> {{item.email}}<br>
          </p>
        </div>
        <div class="card-footer text-right">
          <a href="javascript:void(0);" class="btn btn-primary" [routerLink]="'/users/edit/'+item.id"><i class="fa fa-edit"></i> Editar</a>
        </div>
      </div>
    </div><!-- /.col -->
  </div><!-- /.row -->

</div>
