<!DOCTYPE html>
<html amp lang="pt-br">
  <head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-facebook-comments" src="https://cdn.ampproject.org/v0/amp-facebook-comments-0.1.js"></script>
    <title>{{ data._SITE.seo.title ? data._SITE.seo.title ~ ' | ' ~ data._SITE.config.sitename : data._SITE.config.sitename }}</title>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ data._SITE.seo.title ? data._SITE.seo.title : data._SITE.config.sitename }}" />
    <meta property="og:description" content="{{ data._SITE.seo.description  }}" />
    <meta property="og:site_name" content="{{data._SITE.config.sitename}}" />
    <meta property="og:locale" content="{{ lang }}" />
    <meta property="og:url" content="{{data._CANONICAL_URL}}" />
    <meta property="og:image" content="{{ data._SITE.seo.cover ? data._SITE.seo.cover : ""  }}">
    <!-- twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="{{ data._SITE.seo.description }}" />
    <meta name="twitter:title" content="{{ data._SITE.seo.title ? data._SITE.seo.title : data._SITE.config.sitename }}" />
    <meta name="twitter:site" content="@" />
    <link rel="canonical" href="{{data._SITE_URL ~ data.post.link}}">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  <style amp-custom>
    body {
      background-color: white;
      font-family: 'Open Sans', sans-serif;
    }
    amp-img {
      background-color: whitesmoke;
      /*border: 1px solid black;*/
    }
   amp-img.contain img {
     object-fit: contain;
   }

   article {
    padding: 1em;
   }

   article img {
    max-width: 100%;
   }

   article figure {
    margin: 1em 0;
   }
.home-button {
  margin-top: 8px;
}
.headerbar {
  height: 50px;
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
}
.site-name {
  flex: 1;
  margin-left: -36px;
}
  </style>

  </head>
  <body>
<!--     <header class="headerbar">
      <a href="homepage.html">
        <amp-img class="home-button" src="icons/home.png" width="36" height="36"></amp-img>
      </a>
    <div class="site-name">{{data._SITE.config.sitename}}</div>
    </header> -->
    {% block content %}{% endblock %}
  </body>
</html>
